<template>
  <div class="py-5">
    <form @submit.prevent="signIn" class="card">
      <div class="card-body">
        <h2 class="text-center mb-5 mt-3">Login</h2>
        <input
          class="form-control mb-3"
          :disabled="loading"
          label="Email"
          type="email"
          required
          placeholder="example@email.com"
          v-model="email"
        />
        <!-- /.row-->
        <input
          class="form-control mb-3"
          :disabled="loading"
          label="Password"
          type="password"
          required
          placeholder="Password"
          v-model="password"
        />
        <!-- /.row-->
        <button
          type="submit"
          :disabled="loading"
          class="btn btn-primary btn-block btn-lg"
          v-text="loading ? 'Mohon Tunggu...' : 'Masuk'"
        ></button>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <span class="mr-3">Ayo gabung sebagai</span>
        <router-link to="register-eo">EO</router-link>/
        <router-link to="register-tenant">Tenant</router-link>/
        <router-link to="register-speaker">Pengisi Acara</router-link>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "Login",
  data() {
    return {
      loading: false,
      email: "",
      password: "",
    };
  },
  methods: {
    async signIn() {
      this.loading = true;

      try {
        //call api sign in
        await this.$store.dispatch("auth/DO_LOGIN", {
          email: this.email,
          password: this.password,
        });

        await this.$store.dispatch("auth/GET_USER");

        //navigate to dashboard after success
        this.$router.push("/");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
