<template>
  <div class="py-5">
    <form v-if="!loading" @submit.prevent="signUp" class="card">
      <div class="card-body border-bottom">
        <h2 class="m-0">Mendaftar</h2>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label class="control-label">Nama Pengisi Acara</label>
          <input
            class="form-control mb-3"
            label="Nama Pengisi Acara"
            type="text"
            required
            placeholder="Made Cenik"
            v-model="nama"
          />
        </div>
        <div class="form-group">
          <label class="control-label">No. Telepon</label>
          <input
            class="form-control mb-3"
            label="No Telp"
            type="text"
            required
            placeholder="081123123123"
            v-model="no_telp"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Website</label>
          <input
            class="form-control mb-3"
            type="text"
            placeholder="https://example.com"
            v-model="website"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Alamat</label>
          <textarea
            label="Alamat"
            required
            placeholder="Alamat"
            v-model="alamat"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <label class="control-label">Kategori Pengisi Acara</label>
          <select label="category" v-model="id_kategori" class="form-control">
            <option :value="null" disabled>Pilih kategori...</option>
            <option v-for="i in categories" :key="i.id" :value="i.id">
              {{ i.nama }}
            </option>
          </select>
        </div>

        <hr />

        <div class="form-group">
          <label class="control-label">Alamat Email</label>
          <input
            class="form-control mb-3"
            label="Email"
            type="email"
            required
            placeholder="example@email.com"
            v-model="email"
          />
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label">Kata Sandi</label>
              <input
                class="form-control mb-3"
                type="password"
                required
                placeholder="Kata Sandi"
                v-model="password"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label">Ulangi Kata Sandi</label>
              <input
                class="form-control mb-3"
                type="password"
                required
                placeholder="Ulangi Kata Sandi"
                v-model="confirm_password"
              />
            </div>
          </div>
        </div>
        <!-- /.row-->
        <div class="d-flex align-items-center justify-content-between">
          <router-link to="login">Kembali ke login</router-link>
          <button type="submit" class="btn btn-primary">Daftar</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "RegisterEO",
  data() {
    return {
      email: "",
      password: "",
      confirm_password: "",
      nama: "",
      no_telp: "",
      website: "",
      id_kategori: null,
      alamat: "",
      categories: [],
      loading: false,
    };
  },
  mounted() {
    this.getCategories();
  },
  methods: {
    getCategories: async function () {
      this.loading = true;
      try {
        this.categories = await this.$store.dispatch("speaker_category/GET");
      } catch (e) {
        alert(e.message);
      } finally {
        this.loading = false;
      }
    },
    signUp: async function () {
      if (this.password === this.confirm_password) {
        try {
          const res = await this.$store.dispatch("auth/DO_REGISTER", {
            email: this.email,
            password: this.password,
            nama: this.nama,
            no_telp: this.no_telp,
            website: this.website,
            id_kategori: this.id_kategori,
            alamat: this.alamat,
            type: "speaker",
          });

          await this.$bvModal.msgBoxOk(res.message);
          this.$router.push("login");
        } catch (e) {
          const errorMessage =
            (e.response && e.response.data && e.response.data.message) ||
            e.message;

          this.$bvToast.toast(errorMessage, {
            variant: "danger",
            title: "Error",
          });
        } finally {
          this.loading = false;
        }
      } else {
        this.$bvToast.toast("Your password not match", {
          variant: "danger",
          title: "Error",
        });
      }
    },
  },
};
</script>
