<template>
  <div class="py-5">
    <form @submit.prevent="signUp" class="card">
      <div class="card-body border-bottom">
        <h2 class="m-0">Mendaftar</h2>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label class="control-label">Nama EO</label>
          <input
            class="form-control mb-3"
            label="Nama EO"
            type="text"
            required
            placeholder="Made Cenik"
            v-model="nama"
          />
        </div>
        <div class="form-group">
          <label class="control-label">No. Telepon</label>
          <input
            class="form-control mb-3"
            label="No Telp"
            type="text"
            required
            placeholder="081123123123"
            v-model="no_telp"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Website</label>
          <input
            class="form-control mb-3"
            type="url"
            placeholder="https://example.com"
            v-model="website"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Alamat</label>
          <textarea
            label="Alamat"
            required
            placeholder="Alamat"
            v-model="alamat"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <label class="control-label">Pemilik</label>
          <input
            class="form-control mb-3"
            type="text"
            placeholder="Pemilik Tenant"
            v-model="pemilik"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Produk</label>
          <input
            class="form-control mb-3"
            type="text"
            placeholder="Produk Anda"
            v-model="produk"
          />
        </div>

        <hr />

        <div class="form-group">
          <label class="control-label">Alamat Email</label>
          <input
            class="form-control mb-3"
            label="Email"
            type="email"
            required
            placeholder="example@email.com"
            v-model="email"
          />
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label">Kata Sandi</label>
              <input
                class="form-control mb-3"
                type="password"
                required
                placeholder="Kata Sandi"
                v-model="password"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label">Ulangi Kata Sandi</label>
              <input
                class="form-control mb-3"
                type="password"
                required
                placeholder="Ulangi Kata Sandi"
                v-model="confirm_password"
              />
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <router-link to="login">Kembali ke login</router-link>
          <button type="submit" class="btn btn-primary">Daftar</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "RegisterEO",
  data() {
    return {
      email: "",
      password: "",
      confirm_password: "",
      nama: "",
      no_telp: "",
      website: "",
      pemilik: "",
      produk: "",
      alamat: "",
      loading: true,
    };
  },
  methods: {
    signUp: async function () {
      if (this.password === this.confirm_password) {
        try {
          const res = await this.$store.dispatch("auth/DO_REGISTER", {
            email: this.email,
            password: this.password,
            nama: this.nama,
            no_telp: this.no_telp,
            website: this.website,
            pemilik: this.pemilik,
            produk: this.produk,
            alamat: this.alamat,
            type: "tenant",
          });

          await this.$bvModal.msgBoxOk(res.message);
          this.$router.push("login");
        } catch (e) {
          const errorMessage =
            (e.response && e.response.data && e.response.data.message) ||
            e.message;

          this.$bvToast.toast(errorMessage, {
            variant: "danger",
            title: "Error",
          });
        } finally {
          this.loading = false;
        }
      } else {
        this.$bvToast.toast("Your password not match", {
          variant: "danger",
          title: "Error",
        });
      }
    },
  },
};
</script>
