<template>
  <div class="py-5">
    <form @submit.prevent="signUp" class="card">
      <div class="card-body border-bottom">
        <h2 class="m-0">Mendaftar</h2>
      </div>
      <div class="card-body">
        <input
          class="form-control mb-3"
          :disabled="loading"
          label="Email"
          type="email"
          required
          placeholder="example@email.com"
          v-model="email"
        />
        <!-- /.row-->
        <input
          class="form-control mb-3"
          :disabled="loading"
          label="Password"
          type="password"
          required
          placeholder="Password"
          v-model="password"
        />
        <input
          class="form-control mb-3"
          :disabled="loading"
          label="Konfirmasi Password"
          type="password"
          required
          placeholder="Konfirmasi Password"
          v-model="confirm_password"
        />
        <!-- /.row-->
        <div class="d-flex align-items-center justify-content-between">
          <router-link to="login">Kembali ke login</router-link>
          <button :disabled="loading" type="submit" class="btn btn-primary">
            Daftar
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      confirm_password: "",
      loading: false,
    };
  },
  methods: {
    async signUp() {
      if (this.password === this.confirm_password) {
        this.loading = true;
        try {
          const res = await this.$store.dispatch("auth/DO_REGISTER", {
            email: this.email,
            password: this.password,
            type: "customer",
          });

          await this.$bvModal.msgBoxOk(res.message);
          this.$router.push("login");
        } catch (e) {
          const errorMessage =
            (e.response && e.response.data && e.response.data.message) ||
            e.message;

          this.$bvToast.toast(errorMessage, {
            variant: "danger",
            title: "Error",
          });
        } finally {
          this.loading = false;
        }
      } else {
        this.$bvToast.toast("Your password not match", {
          variant: "danger",
          title: "Error",
        });
      }
    },
  },
};
</script>
