<template>
  <div class="py-5">
    <form v-if="!loading" @submit.prevent="signUp" class="card">
      <div class="card-body border-bottom">
        <h2 class="m-0">Mendaftar</h2>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label class="control-label">Nama EO</label>
          <input
            class="form-control mb-3"
            label="Nama EO"
            type="text"
            required
            placeholder="Made Cenik"
            v-model="nama"
          />
        </div>
        <div class="form-group">
          <label class="control-label">No. Telepon</label>
          <input
            class="form-control mb-3"
            label="No Telp"
            type="text"
            required
            placeholder="081123123123"
            v-model="no_telp"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Website</label>
          <input
            class="form-control mb-3"
            type="text"
            placeholder="https://example.com"
            v-model="website"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Alamat</label>
          <textarea
            label="Alamat"
            required
            placeholder="Alamat"
            v-model="alamat"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <label class="control-label">Jenis Lembaga</label>
          <select label="institution" v-model="id_lembaga" class="form-control">
            <option :value="null" disabled>Pilih jenis lembaga...</option>
            <option v-for="i in institutions" :key="i.id" :value="i.id">
              {{ i.nama }}
            </option>
          </select>
        </div>

        <hr />

        <div class="form-group">
          <label class="control-label">Alamat Email</label>
          <input
            class="form-control mb-3"
            label="Email"
            type="email"
            required
            placeholder="example@email.com"
            v-model="email"
          />
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label">Kata Sandi</label>
              <input
                class="form-control mb-3"
                type="password"
                required
                placeholder="Kata Sandi"
                v-model="password"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label">Ulangi Kata Sandi</label>
              <input
                class="form-control mb-3"
                type="password"
                required
                placeholder="Ulangi Kata Sandi"
                v-model="confirm_password"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>
            <input type="checkbox" v-model="agreeTerms" required />
            <span class="ml-2">
              Saya setuju untuk mengikuti
              <a href="#">Persyaratan & Ketentuan.</a>
            </span>
          </label>
        </div>

        <button type="submit" class="btn btn-primary btn-block btn-lg mb-3">
          Daftar
        </button>
        <p class="text-center">
          Sudah memiliki akun? <a href="/auth/login">Kembali ke Login.</a>
        </p>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "RegisterEO",
  data() {
    return {
      email: "",
      password: "",
      confirm_password: "",
      nama: "",
      no_telp: "",
      website: "",
      id_lembaga: null,
      alamat: "",
      institutions: [],
      loading: true,
      agreeTerms: false,
    };
  },
  mounted() {
    this.getInstitution();
  },
  methods: {
    async getInstitution() {
      this.loading = true;
      try {
        const data = await this.$store.dispatch("institution/GET");
        this.institutions = data;
      } catch (e) {
        alert(e.message);
      } finally {
        this.loading = false;
      }
    },
    async signUp() {
      if (this.password === this.confirm_password) {
        try {
          const res = await this.$store.dispatch("auth/DO_REGISTER", {
            email: this.email,
            password: this.password,
            nama: this.nama,
            no_telp: this.no_telp,
            website: this.website,
            id_lembaga: this.id_lembaga,
            alamat: this.alamat,
            type: "eo",
          });

          await this.$bvModal.msgBoxOk(res.message);
          this.$router.push("login");
        } catch (e) {
          const errorMessage =
            (e.response && e.response.data && e.response.data.message) ||
            e.message;

          this.$bvToast.toast(errorMessage, {
            variant: "danger",
            title: "Error",
          });
        } finally {
          this.loading = false;
        }
      } else {
        this.$bvToast.toast("Your password not match", {
          variant: "danger",
          title: "Error",
        });
      }
    },
  },
};
</script>
