<template>
  <div class="row animated fadeIn">
    <div class="col-md-6">
      <form @submit.prevent="saveSpeaker" class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;Profil Pengisi Acara</div>
          <div class="d-md-flex">
            <button
              v-if="user.role === 'speaker'"
              type="submit"
              class="btn btn-primary ml-2"
            >
              <i class="icon-check"></i> Simpan
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Nama"
              id="nama"
              :value="speaker.nama"
              required
            />
            <select-input
              id="id_kategori"
              :onChange="onChange"
              class="col-12"
              label="Kategori"
              :data="this.categories"
              :value="speaker.id_kategori"
            />
            <text-area
              class="col-12"
              id="alamat"
              :value="speaker.alamat"
              :onChange="onChange"
              label="Alamat"
              required
            />
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="No. Telp"
              id="no_telp"
              :value="speaker.no_telp"
              required
            />
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Website"
              id="website"
              :value="speaker.website"
            />
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Minimum Tawaran"
              id="minimum_tawaran"
              :value="speaker.minimum_tawaran"
            />
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Password"
              type="password"
              id="password"
              :value="speaker.password"
              v-if="speaker.id === ''"
              required
            />
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Password"
              type="password"
              id="password"
              :value="speaker.password"
              v-if="speaker.id"
            />
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Konfirmasi Password"
              type="password"
              id="confirm_password"
              :value="speaker.confirm_password"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import TextInput from "@/components/TextInput";
import TextArea from "@/components/TextArea";
import SelectInput from "@/components/SelectInput";

import { SPEAKER_URL } from "@/const/api";

import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "FormPengisiAcara",
  mounted() {
    this.getSpeaker();
    this.getCategory();
    this.speaker.id = this.$route.params.id;
  },
  data() {
    return {
      user: {},
      categories: [],
      speaker: {
        id: "",
        id_kategori: "",
        nama: "",
        alamat: "",
        no_telp: "",
        website: "",
        minimum_tawaran: "",
        password: "",
        confirm_password: "",
      },
    };
  },
  watch: {
    "$route.params.id": function () {
      this.getSpeaker();
      this.getCategory();
      this.speaker.id = this.$route.params.id;
    },
  },
  methods: {
    onChange: function (e) {
      this.speaker[e.target.name] = e.target.value;
    },
    getSpeaker: async function () {
      try {
        //call api get speaker
        const url = SPEAKER_URL;
        const res = await this.$http.get(
          `${url}&sub=${this.user.sub}&pfile=1`,
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            },
          }
        );

        //get the data from api response
        const { data } = res.data;
        this.speaker = data[0];
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    getCategory: async function () {
      try {
        //call api get category
        const url =
          this.category === ""
            ? "/speaker-categories"
            : `${"/speaker-categories"}&search=`;
        const res = await this.$http.get(`${url}&no=0&limit=`, {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });

        //get the data from api response
        const { data, total } = res.data;

        this.loading = false;
        this.categories = data;
        this.total_data = total;
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    saveSpeaker: function () {
      if (this.speaker.id !== "") {
        this.updateSpeaker();
      }
    },
    updateSpeaker: async function () {
      this.len_pass =
        this.speaker.password && this.speaker.password.length
          ? this.speaker.password.length
          : 0;
      if (this.len_pass === 0 || this.len_pass > 5) {
        if (this.speaker.password === this.speaker.confirm_password) {
          try {
            //call api create speaker
            const url = SPEAKER_URL;
            await this.$http.put(`${url}&sub=${this.user.sub}`, this.speaker, {
              headers: {
                Accept: "application/json",
                Authorization: `Bearer ${localStorage.getItem("jwt")}`,
              },
            });
            alert("Profile berhasil disimpan");
          } catch ({ response }) {
            alert(response.data.message);
          }
        } else {
          alert("Konfirmasi password masih tidak sama");
        }
      } else {
        alert("Masukkan password minimal 6 karakter");
      }
    },
  },
  components: {
    TextInput,
    TextArea,
    SelectInput,
  },
};
</script>
