<template>
  <b-row no-gutters style="margin: 32px 0">
    <b-col>
      <h3>Event</h3>
      <b-spinner class="mt-4" v-if="loading" variant="primary" />
    </b-col>
    <template v-if="data !== null">
      <b-col class="text-right">
        <b-btn
          size="lg"
          v-if="allowedToEdit"
          variant="warning"
          :to="`/event/${$route.params.id}/edit`"
        >
          <strong>Edit</strong>
        </b-btn>
        <b-btn
          v-if="allowedToEdit"
          size="lg"
          variant="danger"
          @click="deleteEvent"
          class="ml-2"
        >
          <strong>Hapus</strong>
        </b-btn>
        <template v-if="user.role === 'tenant'">
          <b-btn
            size="lg"
            variant="success"
            @click="prepareRegisterEvent"
            class="ml-2"
            v-if="!data.is_joined"
          >
            <i class="icon icon-book-open mr-2"></i>
            <strong>Daftar Sebagai Tenant</strong>
          </b-btn>
          <b-modal
            id="modal-tenant-registration"
            title="Tambah Pengisi Acara"
            centered
            hide-footer
          >
            <b-form @submit.prevent="registerEvent">
              <b-form-group label="Harga">
                <b-input-group prepend="Rp.">
                  <b-form-input
                    v-model.number="registerForm.harga_dari_eo"
                    required
                  />
                </b-input-group>
              </b-form-group>
              <b-form-group label="Keterangan">
                <b-form-textarea
                  v-model.trim="registerForm.keterangan"
                  rows="5"
                  required
                />
              </b-form-group>
              <div class="text-right">
                <b-btn variant="primary" type="submit" :disabled="saving">
                  {{ saving ? "Menyimpan..." : "Simpan" }}
                </b-btn>
              </div>
            </b-form>
          </b-modal>
        </template>
        <template v-if="user.role === 'speaker'">
          <template v-if="invitation && invitation.status === 'pending'">
            <b-btn
              variant="success"
              size="lg"
              @click="onRespondInvitation('diterima')"
            >
              Terima
            </b-btn>
            <b-btn
              variant="danger"
              size="lg"
              @click="onRespondInvitation('tidak_diterima')"
              class="ml-2"
            >
              Tolak
            </b-btn>
          </template>
        </template>
      </b-col>
      <b-col cols="12" class="mt-4">
        <b-event-invitation
          v-if="user.role === 'speaker'"
          :invitation="invitation"
        />
        <b-event-registration
          v-if="user.role === 'tenant'"
          :registration="registration"
        />
        <b-card no-body>
          <b-tabs pills card>
            <b-event-info :event="data" />
            <b-event-schedule :event="data" />
            <b-event-speaker :event="data" />
            <b-event-tenant :event="data" />
          </b-tabs>
        </b-card>
      </b-col>
    </template>
  </b-row>
</template>

<script>
import DetailEventInfo from "./components/DetailEventInfo";
import DetailEventInvitation from "./components/DetailEventInvitation";
import DetailEventTenant from "./components/DetailEventTenant";
import DetailEventSpeaker from "./components/DetailEventSpeaker";
import DetailEventSchedule from "./components/DetailEventSchedule";
import DetailEventRegistration from "./components/DetailEventRegistration";

import { mapState } from "vuex";

export default {
  computed: {
    ...mapState("auth", ["token", "user"]),
    allowedToEdit() {
      if (!["eo", "admin"].includes(this.user.role)) {
        return false;
      }

      if (this.data) {
        if (this.user.role === "eo" && this.data.id_eo != this.user.data.id) {
          return false;
        }

        if (this.data.status === "publish") {
          return false;
        }
      }

      return true;
    }
  },
  data() {
    return {
      data: null,
      loading: false,
      invitation: null,
      registration: null,
      registerForm: {
        harga_dari_tenant: 0,
        keterangan: null
      }
    };
  },
  mounted() {
    this.getEvent();

    this.$root.$on("event::reload", () => {
      this.getEvent();
    });
  },
  methods: {
    async getPendingInvitation() {
      this.invitation = await this.$store.dispatch(
        "event_speaker/GET_PENDING",
        this.$route.params.id
      );
    },
    async getRegistration() {
      this.registration = await this.$store.dispatch(
        "event_tenant/GET_REGISTRATION",
        this.$route.params.id
      );
    },
    async getEvent() {
      this.loading = true;
      try {
        const eventId = this.$route.params.id;
        this.data = await this.$store.dispatch("event/SHOW", eventId);

        if (this.user.role === "speaker") {
          this.getPendingInvitation();
        }

        if (this.user.role === "tenant") {
          this.getRegistration();
        }
      } catch (e) {
        alert(e.message);
      } finally {
        this.loading = false;
      }
    },
    async deleteEvent() {
      const confirmMsg = "Apakah anda yakin ingin menghapus event ini?";
      const confirmResult = await this.$bvModal.msgBoxConfirm(confirmMsg, {
        variant: "danger",
        title: "Hapus Event Ini?"
      });

      if (!confirmResult) {
        return;
      }

      try {
        this.loading = true;
        await this.$store.dispatch("event/DESTROY", this.$route.params.id);

        this.$bvToast.toast("Event berhasil dihapus.", {
          variant: "success",
          title: "Berhasil",
          solid: true
        });
        this.$router.push("/event");
      } catch (e) {
        this.$bvToast.toast(e.message, {
          variant: "danger",
          title: "Error",
          solid: true
        });
      } finally {
        this.loading = false;
      }
    },
    async onRespondInvitation(status) {
      let clone = JSON.parse(JSON.stringify(this.invitation));
      clone.status = status;

      await this.$store.dispatch("event_speaker/UPDATE", clone);
      this.$router.go();
    },
    async prepareRegisterEvent() {
      this.registerForm = {
        harga_dari_tenant: 0,
        keterangan: null
      };
      this.$bvModal.show("modal-tenant-registration");
    },
    async registerEvent() {
      this.loading = true;
      try {
        if (this.user.role !== "tenant") {
          return;
        }

        const eventId = this.$route.params.id;
        this.data = await this.$store.dispatch(
          "event_tenant/STORE",
          Object.assign(
            {
              id_event: eventId,
              id_tenant: this.user.data.id
            },
            this.registerForm
          )
        );

        this.$bvToast.toast(
          "Pendaftaran anda sudah dikirim. Mohon tunggu informasi selanjutnya sampai pendaftaran anda sudah direspons oleh EO.",
          {
            variant: "success",
            title: "Terkirim",
            solid: true
          }
        );
      } catch (e) {
        alert(e.message);
      } finally {
        this.loading = false;
      }
    }
  },
  components: {
    "b-event-info": DetailEventInfo,
    "b-event-tenant": DetailEventTenant,
    "b-event-speaker": DetailEventSpeaker,
    "b-event-schedule": DetailEventSchedule,
    "b-event-invitation": DetailEventInvitation,
    "b-event-registration": DetailEventRegistration
  }
};
</script>

<style></style>
