<template>
  <div class="row animated fadeIn">
    <div class="col-md-12">
      <h1 class="mb-3">Event</h1>
      <div class="card">
        <div class="card-header">
          <b-row align-h="end">
            <div class="col-lg-3">
              <b-row>
                <b-col>
                  <b-btn v-b-modal.modal-filter variant="primary" block>
                    Filter
                  </b-btn>
                </b-col>
                <b-col>
                  <router-link
                    to="/event/create"
                    class="btn btn-success btn-block"
                  >
                    <i class="icon-plus"></i>
                    <span>Tambah</span>
                  </router-link>
                </b-col>
              </b-row>
            </div>
          </b-row>
        </div>
        <b-modal id="modal-filter" title="Filter" @ok="fetchData">
          <b-form-group label="Tampilkan Event" v-if="user.eo !== 'admin'">
            <b-form-select
              v-model="filter.show_event"
              :options="[
                { text: 'Hanya Milik Saya', value: 0 },
                { text: 'Semua Event', value: 1 },
              ]"
            />
          </b-form-group>
          <b-form-group label="Pencarian">
            <b-form-row>
              <b-col cols="4">
                <b-form-select
                  v-model="filter.search_by"
                  :options="[
                    { text: 'Nama', value: 'nama' },
                    { text: 'Kode', value: 'id' },
                  ]"
                />
              </b-col>
              <b-col>
                <b-form-input v-model="filter.search_query" />
              </b-col>
            </b-form-row>
          </b-form-group>
        </b-modal>
        <table class="table table-responsive-sm mb-0">
          <thead>
            <tr>
              <th width="40%">Event</th>
              <th>Kategori</th>
              <th>Tanggal Mulai</th>
              <th>Tanggal Akhir</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody v-if="loading">
            <tr>
              <td colspan="5" class="text-center">Memuat...</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr v-for="(data, i) in eventsPaginated" :key="i">
              <td class="align-middle">
                <router-link
                  :to="{ path: `/event/${data.id}` }"
                  class="text-dark"
                >
                  <strong class="text-primary">{{ data.id }}</strong>
                  <br />
                  <span>{{ data.nama }}</span>
                </router-link>
              </td>
              <td class="align-middle">
                <span v-if="data.kategori === 'mice'"> MICE </span>
                <span v-if="data.kategori === 'musik_dan_hiburan'">
                  Musik dan Hiburan
                </span>
              </td>
              <td class="align-middle">
                {{ dayjs(data.tanggal_mulai).format("DD MMM YYYY") }}
              </td>
              <td class="align-middle">
                {{ dayjs(data.tanggal_akhir).format("DD MMM YYYY") }}
              </td>
              <td class="align-middle">
                <span
                  v-if="data.status === 'draft'"
                  class="badge badge-danger"
                  >{{ data.status }}</span
                >
                <span
                  v-if="data.status === 'publish'"
                  class="badge badge-primary"
                  >{{ data.status }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
        <b-card-body class="border-top">
          <b-pagination
            class="mb-0"
            v-model="filter.page"
            :total-rows="total"
            :per-page="filter.limit"
            align="end"
            aria-controls="my-table"
          ></b-pagination>
        </b-card-body>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import dayjs from "@/mixins/dayjs";

export default {
  computed: {
    ...mapState("auth", ["token", "user"]),
    eventsPaginated() {
      console.log(this.filter.page);
      console.log(this.events);

      return this.events.slice(
        (this.filter.page - 1) * this.filter.limit,
        this.filter.page * this.filter.limit
      );
    },
  },
  name: "Event",
  mixins: [dayjs],
  data() {
    return {
      events: [],
      loading: false,
      statuses: [
        { id: null, nama: "Semua" },
        { id: "draft", nama: "Draft" },
        { id: "belum", nama: "Belum Dimulai" },
        { id: "sekarang", nama: "Sedang Berlangsung" },
        { id: "selesai", nama: "Sudah Berakhir" },
      ],
      filter: {
        status: null,
        page: 1,
        limit: 10,
        show_event: 0,
        search_by: "nama",
        search_query: null,
      },
      total: 0,
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      this.loading = true;
      try {
        const { data, total } = await this.$store.dispatch(
          "event/GET",
          this.filter
        );

        this.events = data;
        this.total = total;
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style>
.filter {
  min-width: 100px;
}
.filter .form-group {
  margin: 0;
}
</style>
