<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <a :href="`https://${speaker.website}`" target="blank">
          {{
          speaker.nama
          }}
        </a>
        <br />
        {{ speaker.no_telp }}
      </div>
      <div class="col-md-8">
        <div class="row">
          <text-input
            label="Tawaran"
            class="col-md-12"
            type="number"
            :value="tawaran"
            required
            :onChange="e => (this.tawaran = e.target.value)"
          />
          <text-area
            label="Keterangan"
            required
            :onChange="e => (this.keterangan = e.target.value)"
            class="col-md-12"
          />
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-end">
      <button @click="back" class="btn btn-secondary mr-3" to="login">Kembali</button>
      <button type="submit" @click="doInvite" data-dismiss="modal" class="btn btn-primary">Undang</button>
    </div>
  </div>
</template>
<script>
import TextInput from "@/components/TextInput";
import TextArea from "@/components/TextArea";

export default {
  name: "FormPengisiAcara",
  props: {
    back: Function,
    speaker: Object,
    id_event: String,
    invite: Function
  },
  data() {
    return {
      keterangan: "",
      tawaran: this.speaker.minimum_tawaran
    };
  },
  methods: {
    doInvite: async function() {
      await this.invite(this.keterangan, this.tawaran);
    }
  },
  components: {
    TextInput,
    TextArea
  }
};
</script>
