<template>
  <div class="row animated fadeIn">
    <div class="col-md-6 mb-3"><h2>Event</h2></div>
    <div class="col-md-6 text-right">
      <template v-if="user.role === 'eo' || user.role === 'admin'">
        <b-btn
          type="button"
          @click="deleteEvent"
          v-if="event.id && event.status !== 'publish'"
          to="create-event"
          variant="danger"
          class="ml-2"
        >
          <i class="icon-trash mr-2"></i>
          <span>Hapus</span>
        </b-btn>
        <b-btn
          type="button"
          @click="publishEvent"
          v-if="event.id && event.status !== 'publish'"
          to="create-event"
          variant="success"
          class="ml-2"
        >
          <i class="icon-rocket mr-2"></i>
          <span>Publish</span>
        </b-btn>
        <b-btn
          type="submit"
          v-if="event.status !== 'publish'"
          @click="saveEvent"
          variant="primary"
          class="ml-2"
          :disabled="saving"
        >
          <i class="icon-check mr-2"></i>
          <span>{{ saving ? "Menyimpan..." : "Simpan" }}</span>
        </b-btn>
      </template>
    </div>
    <div class="col-md-6">
      <form @submit.prevent="saveEvent" class="card">
        <div class="card-body">
          <div class="form-group">
            <label>Nama Event</label>
            <input class="form-control" id="nama" v-model="event.nama" />
          </div>
          <div class="form-group">
            <label>Kategori</label>
            <select v-model="event.kategori" class="form-control" required>
              <option v-for="i in categories" :key="i.id" :value="i.id">
                {{ i.nama }}
              </option>
            </select>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Tanggal Mulai</label>
                <input
                  class="form-control"
                  id="tanggal_mulai"
                  v-model="event.tanggal_mulai"
                  type="date"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Tanggal Akhir</label>
                <input
                  class="form-control"
                  id="tanggal_akhir"
                  v-model="event.tanggal_akhir"
                  type="date"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Keterangan</label>
            <textarea
              class="form-control"
              id="keterangan"
              v-model="event.keterangan"
              rows="5"
            ></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "FormEvent",
  mounted() {
    if (this.$route.params.id) {
      this.getEvent();
    }
  },
  data() {
    return {
      categories: [
        { id: "mice", nama: "MICE" },
        { id: "musik_dan_hiburan", nama: "Musik dan Hiburan" },
      ],
      saving: false,
      loading: false,
      event: {},
    };
  },
  methods: {
    async getEvent() {
      this.loading = true;
      try {
        const eventId = this.$route.params.id;
        const data = await this.$store.dispatch("event/SHOW", eventId);

        this.event = data;
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
    async deleteEvent() {
      const delIt = confirm("Are you sure want to delete this event?");
      if (delIt) {
        this.saving = true;
        try {
          const eventId = this.$route.params.id;
          await this.$store.dispatch("event/DELETE", eventId);

          this.$router.push("/event");
        } catch (e) {
          const errorMessage =
            (e.response && e.response.data && e.response.data.message) ||
            e.message;

          this.$bvToast.toast(errorMessage, {
            variant: "danger",
            title: "Error",
          });
        } finally {
          this.saving = false;
        }
      }
    },
    async publishEvent() {
      const pubIt = confirm("Are you sure want to publish this event?");
      if (pubIt) {
        this.saving = true;
        try {
          this.event.status = "publish";
          await this.$store.dispatch("event/UPDATE", this.event);

          this.$router.push("/event");
        } catch (e) {
          const errorMessage =
            (e.response && e.response.data && e.response.data.message) ||
            e.message;

          this.$bvToast.toast(errorMessage, {
            variant: "danger",
            title: "Error",
          });
        } finally {
          this.saving = false;
        }
      }
    },
    async saveEvent() {
      if (!["eo", "admin"].includes(this.user.role)) {
        return;
      }

      console.log(this.$route.params.id);

      if (typeof this.$route.params.id !== "undefined") {
        if (this.user.role === "eo" && this.event.id_eo !== this.user.id) {
          return;
        }
      }

      this.saving = true;
      try {
        const STORE_ACTION = this.$route.params.id
          ? "event/UPDATE"
          : "event/STORE";
        await this.$store.dispatch(STORE_ACTION, this.event);

        this.$router.push("/event");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.saving = false;
      }
    },
  },
};
</script>
