<template>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div><i class="icon-calendar"></i>&nbsp;Jadwal</div>
    </div>
    <div class="card-body">
      <div class="row">
        <table
          v-if="data.length > 0"
          :class="operation ? 'table-responsive' : ''"
          class="table w-100 table-responsive-sm table-bordered animated fadeIn"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Tanggal</th>
              <th>Kegiatan</th>
              <th>Mulai</th>
              <th>Sampai</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(data, i) in data"
              :key="`${data.edit}-${operation}-${i}`"
            >
              <!-- nomor -->
              <td v-if="data.edit">{{ i + 1 }}</td>
              <td v-else>
                <div class="id" @click="editJadwal(i)">{{ i + 1 }}</div>
              </td>
              <!-- tanggal -->
              <td v-if="!data.edit">{{ data.tanggal }}</td>
              <td v-else>
                <input
                  class="form-control"
                  id="tanggal"
                  type="date"
                  v-model="data.tanggal"
                />
              </td>
              <!-- kegiatan -->
              <td v-if="!data.edit">{{ data.kegiatan }}</td>
              <td v-else>
                <input
                  class="form-control"
                  id="kegiatan"
                  v-model="data.kegiatan"
                />
              </td>
              <!-- jam_mulai -->
              <td v-if="!data.edit">{{ data.jam_mulai }}</td>
              <td v-else>
                <input
                  class="form-control"
                  id="jam_mulai"
                  type="time"
                  v-model="data.jam_mulai"
                />
              </td>
              <!-- jam_akhir -->
              <td v-if="!data.edit">{{ data.jam_akhir }}</td>
              <td v-else>
                <input
                  class="form-control"
                  id="jam_akhir"
                  type="time"
                  v-model="data.jam_akhir"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex" v-if="data.length > 0">
          <button @click="addJadwal" class="btn btn-primary">
            <i class="icon-plus"></i>
          </button>
          <button @click="saveJadwal" class="btn btn-success">
            <i class="icon-check"></i>
          </button>
          <button @click="deleteJadwal" class="btn btn-danger ml-2">
            <i class="icon-trash"></i>
          </button>
          <button @click="cancel" class="btn btn-secondary ml-2">
            <i class="icon-close"></i>
          </button>
        </div>
        <div
          v-if="data.length === 0"
          class="col-md-12 text-center animated fadeIn"
        >
          <h4 class="text-secondary">Belum ada Jadwal</h4>
          <button @click="addJadwal" class="btn btn-success">
            <i class="icon-plus"></i> Tambah
          </button>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" id="modal-form-schedule">
      <div class="modal-dialog">
        <form class="modal-content">
          <div class="modal-header">Tambah Jadwal</div>
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label">Kegiatan</label>
              <input
                type="text"
                required
                name="kegiatan"
                v-model="form.kegiatan"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label class="control-label">Tanggal</label>
              <input
                type="date"
                required
                name="tanggal"
                v-model="form.tanggal"
                class="form-control"
              />
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label class="control-label">Jam Mulai</label>
                <input
                  type="time"
                  required
                  name="jam_mulai"
                  v-model="form.jam_mulai"
                  class="form-control"
                />
              </div>
              <div class="form-group col-6">
                <label class="control-label">Jam Selesai</label>
                <input
                  type="time"
                  required
                  name="jam_selesai"
                  v-model="form.jam_selesai"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="javascript:;" class="btn btn-default" data-dismiss="modal">
              Batal
            </a>
            <button class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import $ from "jquery";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "Jadwal",
  props: ["event"],
  data() {
    const defaultForm = {
      id: null,
      id_event: this.event,
      tanggal: "",
      kegiatan: "",
      jam_mulai: "",
      jam_akhir: "",
      edit: true,
    };

    return {
      operation: false,
      edited_index: 0,
      data: [],
      form: defaultForm,
      form_default: defaultForm,
    };
  },
  mounted() {
    this.fetchJadwal();
  },
  methods: {
    addJadwal() {
      this.form = this.form_default;
      $("#modal-form-schedule").modal("show");
    },
    cancel() {
      if (this.jadwal.id === 0) this.data.pop();
      this.operation = false;
      this.data[this.edited_index].edit = false;
      this.jadwal = this.jadwal_default;
      this.edited_index = 0;
    },
    editJadwal(index) {
      if (this.user.role === "eo") {
        this.operation = true;
        this.edited_index = index;
        //clone object jadwal
        this.jadwal = JSON.parse(JSON.stringify(this.data[index]));
        this.data[index].edit = true;
      }
    },
    async saveJadwal() {
      this.loading = true;
      try {
        await this.$store.dispatch("schedule/STORE", {
          id: this.jadwal.id,
          data: this.jadwal,
        });

        this.jadwal = this.jadwal_default;
      } catch (e) {
        alert(e.message);
      } finally {
        this.loading = false;
      }
    },
    async deleteJadwal() {
      this.loading = true;
      try {
        await this.$store.dispatch("schedule/DELETE", this.event);
        this.jadwal = this.jadwal_default;
      } catch (e) {
        alert(e.message);
      } finally {
        this.loading = false;
      }
    },
    refresh() {
      this.operation = false;
      this.edited_index = 0;
      this.jadwal = this.jadwal_default;
      this.fetchJadwal();
    },
    async fetchJadwal() {
      this.loading = true;
      try {
        const data = await this.$store.dispatch("schedule/GET", this.event);

        this.data = data;
      } catch (e) {
        alert(e.message);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="css" scoped>
.id {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.kegiatan {
  min-width: 200px;
}
</style>
