<template>
  <table v-if="!loading" class="table w-100 table-bordered animated fadeIn">
    <thead>
      <tr>
        <th>#</th>
        <th>Nama</th>
        <th>Kategori</th>
        <th>No Telp</th>
        <th>Tawaran Minimum</th>
        <th>Undang</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(data, i) in speakers" :key="i">
        <td>{{ i + 1 }}</td>
        <td>
          <a :href="`https://${data.website}`" target="blank">{{
            data.nama
          }}</a>
        </td>
        <td>{{ kategori(data.id_kategori) }}</td>
        <td>{{ data.no_telp }}</td>
        <td>{{ data.minimum_tawaran }}</td>
        <td>
          <button @click="action(data)" class="btn btn-success">
            <i class="icon-user-following"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
import { SPEAKER_URL } from "@/const/api";
export default {
  name: "ListPengisiAcara",
  props: {
    action: Function,
    histories: Array,
  },
  data() {
    return {
      speakers: [],
      categories: [],
      status: "0",
      loading: true,
      total_data: 0,
      page: 1,
      limit: 10,
    };
  },
  async mounted() {
    await this.fetchCategory();
    this.fetchData();
  },
  methods: {
    async fetchData() {
      try {
        const url =
          this.status === "0"
            ? SPEAKER_URL
            : `${SPEAKER_URL}&status=${this.status}`;
        const res = await this.$http.get(
          `${url}&no=${this.page}&limit=${this.limit}`,
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            },
          }
        );

        //get the data from api response
        const { data } = res.data;
        const newData = data.filter((obj) => !this.histories.includes(obj.id));

        this.loading = false;
        this.speakers = newData;
        this.total_data = newData.length;
      } catch (err) {
        console.log(err);
        if (err.response) {
          alert(err.response.data.message);
        }
      }
    },
    async fetchCategory() {
      try {
        this.categories = await this.$store.dispatch("speaker_category/GET");
      } catch (e) {
        alert(e.message);
      }
    },
    kategori(id_kategori) {
      const kategori = this.categories.find((cat) => cat.id === id_kategori);
      return kategori.nama;
    },
  },
};
</script>
