<template>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div>
        <i class="icon-user-following"></i>&nbsp;Pengisi Acara
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <table
          v-if="!loading && histories.length > 0"
          class="table w-100 table-bordered animated fadeIn"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Nama</th>
              <th>Status</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data, i) in histories" :key="loading + i">
              <td>{{ i + 1 }}</td>
              <td>{{ data.nama }}</td>
              <td>
                <div
                  class="badge"
                  :class="{'badge-warning': data.status === 'proses', 'badge-success': data.status==='diterima', 'badge-danger': data.status === 'tidak_diterima'}"
                >{{ data.status }}</div>
              </td>
              <td>
                <button
                  @click="detailHistori(i)"
                  data-toggle="modal"
                  data-target="#detailPengisiAcara"
                  class="btn btn-sm btn-primary"
                >
                  <i class="icon-eye"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-if="histories.length > 0" class="d-flex">
          <button
            @click="add"
            v-if="user.role === 'eo'"
            data-toggle="modal"
            data-target="#modalPengisiAcara"
            class="btn btn-primary"
          >
            <i class="icon-plus"></i>
          </button>
        </div>
        <div v-if="histories.length == 0" class="col-md-12 text-center animated fadeIn">
          <h4 class="text-secondary">Belum ada Pengisi Acara</h4>
          <button
            @click="add"
            v-if="user.role === 'eo'"
            class="btn btn-success"
            data-toggle="modal"
            data-target="#modalPengisiAcara"
          >
            <i class="icon-plus"></i> Tambah
          </button>
        </div>
      </div>
    </div>
    <modal id="modalPengisiAcara" title="Undang Pengisi Acara">
      <list-pengisi-acara v-if="showList" :action="invite" :histories="speakersId" />
      <form-pengisi-acara
        v-if="!showList"
        :id_event="event"
        :back="add"
        :speaker="speaker"
        :invite="createHistory"
      />
    </modal>
    <modal id="detailPengisiAcara" title="Pengisi Acara">
      <div>Harga penawaran: {{ selHistori.harga_dari_eo | toIdr}}</div>
      <div>Harga dari pengisi acara: {{ selHistori.harga_dari_pengisi_acara | toIdr }}</div>
      <div v-if="selHistori.harga_akhir != 0">Harga yg disetujui: {{selHistori.harga_akhir | toIdr}}</div>
      <div>Keterangan: {{ selHistori.keterangan | toIdr}}</div>
      <div
        class="badge badge-warning"
        v-if="selHistori.harga_akhir != 0 && selHistori.status !=='diterima'"
      >Menunggu konfirmasi</div>
      <div
        class="badge badge-warning"
        v-if="!selHistori.bukti_bayar && selHistori.status ==='diterima'"
      >Menunggu pembayaran</div>
      <div
        v-if="selHistori.status === 'diterima' && !selHistori.bukti_bayar"
        class="border mt-4 p-2"
      >
        <image-picker label="Bukti Bayar" name="bukti_bayar" @setImage="setImage" />
      </div>
      <div v-if="selHistori.status === 'diterima' && selHistori.bukti_bayar">
        <img
          class="rounded mt-2"
          style="max-height:500px"
          :src="selHistori.bukti_bayar"
          :alt="`bukti-bayar-${selHistori.id}`"
        />
      </div>
      <div
        v-if="selHistori.status === 'proses'"
        class="d-flex align-items-center justify-content-end"
      >
        <button
          v-if="selHistori.harga_akhir == 0"
          @click="decline"
          data-dismiss="modal"
          class="btn btn-danger"
        >Batalkan Undangan</button>
        <button
          v-if="selHistori.harga_akhir == 0"
          @click="accept"
          data-dismiss="modal"
          class="btn btn-success ml-2"
        >Terima Tawaran</button>
      </div>
      <div
        v-if="selHistori.status === 'diterima' && !selHistori.bukti_bayar"
        class="d-flex align-items-center justify-content-end mt-2"
      >
        <button
          @click="uploadBuktiBayar"
          data-dismiss="modal"
          class="btn btn-success ml-2"
        >Upload Bukti Bayar</button>
      </div>
    </modal>
  </div>
</template>
<script>
import Modal from "@/components/Modal";
import ListPengisiAcara from "./ListPengisiAcara";
import FormPengisiAcara from "./FormPengisiAcara";
import ImagePicker from "@/components/ImagePicker";

import { SPEAKER_HISTORY_URL } from "@/const/api";
export default {
  name: "PengisiAcara",
  props: {
    event: String,
    user: Object
  },
  data() {
    return {
      showList: true,
      loading: true,
      speaker: {},
      histories: [],
      speakersId: [],
      selHistori: {},
      bukti_bayar: ""
    };
  },
  mounted() {
    this.fetchHistory();
  },
  methods: {
    fetchHistory: async function() {
      try {
        //call api get speaker history
        this.loading = true;
        const url = SPEAKER_HISTORY_URL;
        const res = await this.$http.get(`${url}&id_event=${this.event}`, {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`
          }
        });

        //get the data from api response
        const { data } = res.data;
        this.histories = data;
        this.speakersId = data.map(obj => obj.id_pengisi_acara);
        this.loading = false;
      } catch ({ response }) {
        alert(response.data.message);
        this.loading = false;
      }
    },
    createHistory: async function(keterangan, tawaran) {
      try {
        //call api create jadwal event
        this.loading = true;
        const url = SPEAKER_HISTORY_URL;
        await this.$http.post(
          url,
          {
            id_event: this.event,
            id_pengisi_acara: this.speaker.id,
            keterangan: keterangan,
            harga_dari_eo: tawaran
          },
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`
            }
          }
        );
        this.loading = false;
        this.refresh();
      } catch (err) {
        this.loading = false;
        if (err.response) {
          alert(err.response.data.message);
        }
      }
    },
    refresh: function() {
      this.fetchHistory();
      this.bukti_bayar = "";
    },
    add: function() {
      this.showList = true;
    },
    invite: function(speaker) {
      this.showList = false;
      this.speaker = speaker;
    },
    detailHistori: function(index) {
      this.selHistori = this.histories[index];
    },
    accept: async function() {
      try {
        //call api accept tawaran
        this.loading = true;
        const url = SPEAKER_HISTORY_URL;
        await this.$http.put(
          url,
          {
            status: "proses",
            harga_dari_pengisi_acara: this.selHistori.harga_dari_pengisi_acara,
            harga_akhir: this.selHistori.harga_dari_pengisi_acara,
            bukti_bayar: "",
            id: this.selHistori.id
          },
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`
            }
          }
        );
        this.loading = false;
        this.refresh();
      } catch (err) {
        this.loading = false;
        if (err.response) {
          alert(err.response.data.message);
        }
      }
    },
    decline: async function() {
      try {
        //call api decline tawaran
        this.loading = true;
        const url = SPEAKER_HISTORY_URL;
        await this.$http.put(
          url,
          {
            status: "tidak_diterima",
            harga_dari_pengisi_acara: this.selHistori.harga_dari_pengisi_acara,
            harga_akhir: this.selHistori.harga_dari_pengisi_acara,
            bukti_bayar: "",
            id: this.selHistori.id
          },
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`
            }
          }
        );
        this.loading = false;
        this.refresh();
      } catch (err) {
        this.loading = false;
        if (err.response) {
          alert(err.response.data.message);
        }
      }
    },
    setImage: function(output) {
      console.log("OUT", output);
      this.bukti_bayar = output;
    },
    dataURLtoFile(dataurl, filename) {
      var arr = dataurl.split(","),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]),
        n = bstr.length,
        u8arr = new Uint8Array(n);

      while (n--) {
        u8arr[n] = bstr.charCodeAt(n);
      }

      return new File([u8arr], filename, { type: mime });
    },
    uploadBuktiBayar: async function() {
      try {
        if (this.bukti_bayar) {
          //upload client image
          const file = this.dataURLtoFile(this.bukti_bayar, "bukti_bayar.jpeg");
          let formData = new FormData();
          formData.append("bukti_bayar", file);
          this.$http
            .post(SPEAKER_HISTORY_URL + "&sub=upload-bukti-bayar", formData, {
              headers: {
                "Content-Type": "multipart/form-data",
                Authorization: `Bearer ${localStorage.getItem("jwt")}`
              }
            })
            .then(async resp => {
              console.log(resp);
              await this.$http.put(
                SPEAKER_HISTORY_URL,
                {
                  status: "diterima",
                  harga_dari_pengisi_acara: this.selHistori
                    .harga_dari_pengisi_acara,
                  harga_akhir: this.selHistori.harga_akhir,
                  bukti_bayar: resp.data.data,
                  id: this.selHistori.id
                },
                {
                  headers: {
                    Accept: "application/json",
                    Authorization: `Bearer ${localStorage.getItem("jwt")}`
                  }
                }
              );
              this.loading = false;
              this.bukti_bayar = "";
              this.refresh();
            })
            .catch(err => {
              this.step = 1;
              this.loading = false;
              this.error = err.response.data.message;
              this.bukti_bayar = "";
            });
        } else {
          this.loading = false;
          this.step++;
        }
      } catch (error) {
        this.loading = false;
        if (error.response) {
          alert(error.response.data.message);
        }
      }
    }
  },
  components: {
    Modal,
    ListPengisiAcara,
    FormPengisiAcara,
    ImagePicker
  }
};
</script>
