<template>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div>
        <i class="icon-user-following"></i>&nbsp;Tawaran
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div>Harga penawaran: {{histori.harga_dari_eo | toIdr}}</div>
          <div
            v-if="histori.harga_dari_pengisi_acara != 0"
          >Harga dari anda: {{histori.harga_dari_pengisi_acara | toIdr}}</div>
          <div v-if="histori.harga_akhir != 0">Harga yg disetujui: {{histori.harga_akhir | toIdr}}</div>
          <div>Keterangan: {{histori.keterangan}}</div>
          <div
            v-if="!histori.bukti_bayar"
            :class="{'badge-warning': histori.status === 'diterima' || histori.status === 'proses', 'badge-danger': histori.status === 'tidak_diterima'}"
            class="badge"
          >{{histori.status === 'diterima' ? 'Menunggu Pembayaran' : histori.status}}</div>
          <div v-if="histori.status === 'diterima' && histori.bukti_bayar">
            <img
              class="rounded mt-2"
              style="max-height:500px"
              :src="histori.bukti_bayar"
              :alt="`bukti-bayar-${histori.id}`"
            />
          </div>
          <div class="d-flex mt-4">
            <button
              @click="accept"
              v-if="(histori.status === 'proses' && histori.harga_dari_pengisi_acara == 0) ||(histori.harga_akhir != 0 && histori.status === 'proses')"
              class="btn btn-success"
            >Terima</button>
            <button
              v-if="histori.status === 'proses' && histori.harga_dari_pengisi_acara == 0"
              class="btn btn-warning ml-2"
              data-toggle="modal"
              data-target="#modalTawaran"
            >Ajukan tawaran lain</button>
            <button
              @click="reject"
              v-if="histori.status === 'proses' && histori.harga_dari_pengisi_acara == 0"
              class="btn btn-danger ml-2"
            >Tolak</button>
          </div>
        </div>
      </div>
    </div>
    <modal id="modalTawaran" size="modal-md" title="Ajukan Penawaran Anda">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-2">Tawaran dari EO: {{histori.harga_dari_eo | toIdr}}</div>
          <text-input
            label="Tawaran Anda"
            type="number"
            :value="tawaran"
            required
            :onChange="e => (this.tawaran = e.target.value)"
          />
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button type="submit" @click="purpose" data-dismiss="modal" class="btn btn-primary">Simpan</button>
      </div>
    </modal>
  </div>
</template>

<script>
import { SPEAKER_HISTORY_URL } from "@/const/api";
import Modal from "@/components/Modal";
import TextInput from "@/components/TextInput";

export default {
  name: "Tawaran",
  props: ["event"],
  data() {
    return {
      histori: {},
      tawaran: "0"
    };
  },
  mounted() {
    this.fetchHistory();
  },
  methods: {
    fetchHistory: async function() {
      try {
        //call api get speaker history
        this.loading = true;
        const url = SPEAKER_HISTORY_URL;
        const res = await this.$http.get(`${url}&id_event=${this.event}`, {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`
          }
        });

        //get the data from api response
        const { data } = res.data;
        this.histori = data[0];
        this.loading = false;
      } catch ({ response }) {
        alert(response.data.message);
        this.loading = false;
      }
    },
    accept: async function() {
      try {
        //call api accept tawaran
        this.loading = true;
        const url = SPEAKER_HISTORY_URL;
        await this.$http.put(
          url,
          {
            status: "diterima",
            harga_dari_pengisi_acara: this.histori.harga_dari_pengisi_acara
              ? this.histori.harga_dari_pengisi_acara
              : this.histori.harga_dari_eo,
            harga_akhir:
              this.histori.harga_akhir != 0
                ? this.histori.harga_akhir
                : this.histori.harga_dari_eo,
            bukti_bayar: "",
            id: this.histori.id
          },
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`
            }
          }
        );
        this.loading = false;
        this.fetchHistory();
      } catch (err) {
        this.loading = false;
        if (err.response) {
          alert(err.response.data.message);
        }
      }
    },
    reject: async function() {
      try {
        //call api accept tawaran
        this.loading = true;
        const url = SPEAKER_HISTORY_URL;
        await this.$http.put(
          url,
          {
            status: "tidak_diterima",
            harga_dari_pengisi_acara: 0,
            harga_akhir: 0,
            bukti_bayar: "",
            id: this.histori.id
          },
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`
            }
          }
        );
        this.loading = false;
        this.fetchHistory();
      } catch (err) {
        this.loading = false;
        if (err.response) {
          alert(err.response.data.message);
        }
      }
    },
    purpose: async function() {
      try {
        //call api accept tawaran
        this.loading = true;
        const url = SPEAKER_HISTORY_URL;
        await this.$http.put(
          url,
          {
            status: "proses",
            harga_dari_pengisi_acara: this.tawaran,
            harga_akhir: 0,
            bukti_bayar: "",
            id: this.histori.id
          },
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`
            }
          }
        );
        this.loading = false;
        this.fetchHistory();
      } catch (err) {
        this.loading = false;
        if (err.response) {
          alert(err.response.data.message);
        }
      }
    }
  },
  components: {
    Modal,
    TextInput
  }
};
</script>
