<template>
  <div>
    <b-input-group>
      <b-form-input :value="selected && selected.nama" readonly />
      <template #append>
        <b-btn variant="primary" @click="pick">Pilih</b-btn>
      </template>
    </b-input-group>
    <b-modal id="modal-pick" centered hide-footer title="Pilih">
      <b-table show-empty :items="items" :fields="fields">
        <template #cell(id)="data">
          <b-btn variant="primary" size="sm" @click="onSelect(data.item)">
            Pilih
          </b-btn>
        </template>
      </b-table>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "b-contact",
  props: ["type"],
  data() {
    return {
      selected: null,
      items: [],
      fields: [
        {
          key: "id",
          label: "",
          thAttr: { width: "64px" }
        },
        { key: "nama", label: "Nama" }
      ]
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    async load() {
      const { data } = await this.$store.dispatch(`${this.type}/GET`);
      this.items = data;
    },
    onSelect(value) {
      this.selected = value;
      this.$emit("input", value.id);
      this.$bvModal.hide("modal-pick");
    },
    pick() {
      this.$bvModal.show("modal-pick");
    }
  }
};
</script>

<style></style>
