<template>
  <b-container fluid>
    <h1 class="mb-3">Profile</h1>
    <b-card no-body>
      <form @submit.prevent="onSubmit">
        <b-card-body>
          <b-form-group label="Email">
            <b-form-input
              v-model="form.email"
              readonly
              :disabled="loading"
              name="email"
            />
          </b-form-group>
          <b-form-group label="Nama" v-if="form.data">
            <b-form-input
              v-model="form.data.nama"
              required
              :disabled="loading"
              name="nama"
            />
          </b-form-group>

          <template v-if="user.role === 'eo'">
            <b-form-group label="Alamat">
              <b-form-input
                v-model="form.data.alamat"
                required
                :disabled="loading"
              />
            </b-form-group>
            <b-form-group label="Nomor Telepon">
              <b-form-input
                v-model="form.data.no_telp"
                required
                :disabled="loading"
                name="tel"
              />
            </b-form-group>
            <b-form-group label="Website">
              <b-form-input
                v-model="form.data.website"
                required
                :disabled="loading"
                name="url"
              />
            </b-form-group>
          </template>

          <hr />
          <h4>Ganti Password</h4>

          <b-form-group label="Kata Sandi Saat Ini">
            <b-form-input
              v-model="form.old_password"
              name="old_password"
              :disabled="loading"
              type="password"
            />
          </b-form-group>

          <b-form-group label="Kata Sandi Baru">
            <b-form-input
              v-model="form.password"
              name="password"
              :disabled="loading"
              type="password"
            />
          </b-form-group>

          <b-form-group label="Konfirmasi Kata Sandi">
            <b-form-input
              v-model="form.password_confirm"
              name="password_confirm"
              :disabled="loading"
              type="password"
            />
          </b-form-group>
        </b-card-body>
        <b-card-body class="border-top">
          <div class="text-right">
            <b-btn variant="primary" :disabled="loading" type="submit">
              {{ loading ? "Menyimpan..." : "Simpan" }}
            </b-btn>
          </div>
        </b-card-body>
      </form>
    </b-card>
  </b-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  created() {
    this.form = JSON.parse(JSON.stringify(this.user));
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    async onSubmit() {
      this.loading = true;
      try {
        await this.$store.dispatch("auth/UPDATE_USER", this.form);
        await this.$store.dispatch("auth/GET_USER");

        this.$bvToast.toast("Profile berhasil di-update.", {
          variant: "success",
          title: "Sukses",
        });
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style></style>
