<template>
  <div class="row animated fadeIn">
    <div class="col-md-6">
      <form @submit.prevent="saveLembaga" class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;Lembaga</div>
          <div class="d-md-flex">
            <button
              @click="deleteLembaga"
              v-if="lembaga.id && user.role === 'admin'"
              to="create-lembaga"
              class="btn btn-danger ml-2"
            >
              <i class="icon-trash"></i> Hapus
            </button>
            <button
              v-if="user.role === 'admin'"
              type="submit"
              class="btn btn-primary ml-2"
            >
              <i class="icon-check"></i> Simpan
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Kode"
              id="kode"
              :value="lembaga.kode"
              required
            />
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Nama"
              id="nama"
              :value="lembaga.nama"
              required
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import TextInput from "@/components/TextInput";

import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "Formlembaga",
  mounted() {
    if (this.$route.params.id) {
      this.lembaga.id = this.$route.params.id;
      this.getLembaga();
    }
  },
  data() {
    return {
      user: {},
      lembaga: {
        id: "",
        kode: "",
        nama: "",
      },
    };
  },
  watch: {
    "$route.params.id": function () {
      if (this.$route.params.id) {
        this.lembaga.id = this.$route.params.id;
        this.getLembaga();
      }
    },
  },
  methods: {
    onChange: function (e) {
      this.lembaga[e.target.name] = e.target.value;
    },
    getLembaga: async function () {
      try {
        //call api get lembaga
        const url = "/lembaga";
        const res = await this.$http.get(`${url}&id=${this.lembaga.id}`, {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });

        //get the data from api response
        const { data } = res.data;
        this.lembaga = data;
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    deleteLembaga: async function () {
      const delIt = confirm("Anda yakin akan menghapus data lembaga ini?");
      if (delIt) {
        try {
          //call api get lembaga
          const url = "/lembaga";
          await this.$http.delete(`${url}&id=${this.lembaga.id}`, {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            },
          });

          //get the data from api response
          this.$router.push("/lembaga");
        } catch ({ response }) {
          alert(response.data.message);
        }
      }
    },
    saveLembaga: function () {
      if (this.lembaga.id === "") {
        this.createLembaga();
      } else {
        this.updateLembaga();
      }
    },
    createLembaga: async function () {
      try {
        //call api create lembaga
        const url = "/lembaga";
        await this.$http.post(url, this.lembaga, {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });

        //get the data from api response
        this.$router.push(`/lembaga`);
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    updateLembaga: async function () {
      try {
        //call api create lembaga
        const url = "/lembaga";
        await this.$http.put(url, this.lembaga, {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });
        this.$router.push(`/lembaga`);
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
  },
  components: {
    TextInput,
  },
};
</script>
