<template>
  <div v-if="!loading" class="row animated fadeIn">
    <div class="col-md-12">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;Lembaga</div>
          <div class="d-md-flex">
            <text-input
              class="filter mb-2 mb-md-0"
              :onChange="onFilter"
              :value="search"
              :placeholder="placeholder"
            />
            <button @click.prevent="onRefresh" class="btn btn-primary ml-md-2">
              <i class="icon-refresh"></i>
            </button>
            <router-link
              v-if="this.user.role === 'admin'"
              to="/eo/lembaga/create"
              class="btn btn-success ml-2"
            >
              <i class="icon-plus"></i> Tambah
            </router-link>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered">
            <thead>
              <tr>
                <th>No.</th>
                <th>Kode</th>
                <th>Nama</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(data, i) in lembaga" :key="i">
                <td>{{ page * 10 + i - 9 }}</td>
                <td>
                  <router-link :to="{ path: `/eo/lembaga/show/${data.id}` }">
                    {{ data.kode }}
                  </router-link>
                </td>
                <td>{{ data.nama }}</td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination
              :curPage="page"
              :total="total_data"
              :limit="limit"
              to="/lembaga/page"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TextInput from "@/components/TextInput";
import Pagination from "@/components/Pagination";

import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "Lembaga",
  data() {
    return {
      lembaga: [],
      loading: true,
      placeholder: "Kode/Nama",
      search: "",
      total_data: 0,
      page: 1,
      limit: 10,
    };
  },
  components: {
    TextInput,
    Pagination,
  },
  mounted() {
    if (this.$route.params.page) {
      this.page = parseInt(this.$route.params.page);
    }
    this.fetchData();
  },
  watch: {
    "$route.params.page": function () {
      if (this.$route.params.page) {
        this.page = parseInt(this.$route.params.page);
      }
      this.fetchData();
    },
  },
  methods: {
    fetchData: async function () {
      try {
        const url =
          this.lembaga === ""
            ? "/lembaga"
            : `${"/lembaga"}&search=${this.search}`;
        const res = await this.$http.get(
          `${url}&no=${this.page}&limit=${this.limit}`,
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            },
          }
        );

        //get the data from api response
        const { data, total } = res.data;

        this.loading = false;
        this.lembaga = data;
        this.total_data = total;
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    onRefresh: function () {
      this.search = "";
      this.page = 1;
      this.$router.push("/lembaga");
      this.fetchData();
    },
    onFilter: function (e) {
      this.search = e.target.value;
      this.fetchData();
    },
  },
};
</script>

<style>
.filter {
  min-width: 100px;
}
.filter .form-group {
  margin: 0;
}
</style>
