<template>
  <div v-if="!loading" class="row animated fadeIn">
    <div class="col-md-12">
      <h1 class="mb-3">Event Organizer</h1>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6"></div>
            <div class="col-6 form-inline justify-content-end">
              <b-form-input
                class="filter mb-2 mb-md-0"
                v-model="search"
                :placeholder="placeholder"
              />
              <button
                @click.prevent="fetchData"
                class="btn btn-primary ml-md-2"
              >
                <i class="icon-refresh"></i>
              </button>
              <router-link
                v-if="this.user.role === 'admin'"
                to="/tenant/create"
                class="btn btn-success ml-2"
              >
                <i class="icon-plus"></i> Tambah
              </router-link>
            </div>
          </div>
        </div>
        <table class="table table-responsive-sm mb-0">
          <thead>
            <tr>
              <th width="30%">Nama</th>
              <th>Lembaga</th>
              <th>No. Telp</th>
              <th>Website</th>
              <th class="text-center">Premium</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(eo, i) in data" :key="i">
              <td>
                <router-link :to="{ path: `/eo/show/${eo.id}` }">
                  {{ eo.nama }}
                </router-link>
              </td>
              <td>
                {{ eo.lembaga && eo.lembaga.nama }}
              </td>
              <td>
                <a :href="`tel:${eo.no_telp}`" target="_blank">
                  {{ eo.no_telp }}
                </a>
              </td>
              <td>
                <a :href="`${eo.website}`" target="_blank">
                  {{ eo.website }}
                </a>
              </td>
              <td class="text-center">
                <i
                  class="icon-checkmark text-success"
                  v-if="eo.premium == '1'"
                ></i>
                <i class="icon-ban text-danger" v-else></i>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="card-body border-top py-3">
          <b-pagination
            class="mb-1"
            v-model="page"
            :total-rows="total"
            :per-page="limit"
            aria-controls="my-table"
          ></b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "ListPengisiAcara",
  data() {
    return {
      data: [],
      loading: false,
      placeholder: "Nama",
      search: "",
      total: 0,
      page: 1,
      limit: 10,
    };
  },
  mounted() {
    this.fetchData();
  },
  watch: {
    page() {
      this.fetchData();
    },
  },
  methods: {
    async fetchData() {
      this.loading = true;
      try {
        const { data, total } = await this.$store.dispatch("eo/GET", {
          page: this.page,
          limit: this.limit,
        });

        console.log(data);

        this.data = data;
        this.total = total;
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style>
.filter {
  min-width: 100px;
}
.filter .form-group {
  margin: 0;
}
</style>
