<template>
  <div class="row animated fadeIn">
    <div class="col-md-6">
      <form @submit.prevent="saveEO" class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;Event Organizer</div>
          <div class="d-md-flex">
            <button
              @click="deleteEO"
              v-if="eo.id && user.role === 'admin'"
              to="create-eo"
              class="btn btn-danger ml-2"
            >
              <i class="icon-trash"></i> Hapus
            </button>
            <button
              v-if="user.role === 'admin'"
              type="submit"
              class="btn btn-primary ml-2"
            >
              <i class="icon-check"></i> Simpan
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <b-form-text label="Nama" id="nama" v-model="eo.nama" required />
            <b-form-select
              id="id_lembaga"
              label="Lembaga"
              :items="this.lembaga_s"
              v-model="eo.id_lembaga"
              required
            />
            <b-form-textarea
              id="alamat"
              v-model="eo.alamat"
              label="Alamat"
              required
            />
            <b-form-text
              label="No. Telp"
              id="no_telp"
              v-model="eo.no_telp"
              required
            />
            <b-form-text label="Website" id="website" v-model="eo.website" />
            <b-form-text
              v-if="eo.id === '' && user.role === 'admin'"
              label="Email"
              id="email"
              v-model="eo.email"
              required
            />
            <b-form-text
              label="Password"
              type="password"
              id="password"
              v-model="eo.password"
              v-if="eo.id === ''"
              required
            />
            <b-form-text
              label="Password"
              type="password"
              id="password"
              v-model="eo.password"
              v-if="eo.id"
            />
            <b-form-text
              label="Konfirmasi Password"
              type="password"
              id="confirm_password"
              v-model="eo.confirm_password"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { EO_URL } from "@/const/api";

import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "FormEO",
  mounted() {
    if (this.$route.params.id) {
      this.eo.id = this.$route.params.id;
      this.getEO();
    }
  },
  data() {
    return {
      lembaga_s: [],
      eo: {
        id: "",
        id_lembaga: "1",
        nama: "",
        alamat: "",
        no_telp: "",
        website: "",
        email: "",
        password: "",
        confirm_password: "",
      },
    };
  },
  watch: {
    "$route.params.id"() {
      if (this.$route.params.id) {
        this.eo.id = this.$route.params.id;
        this.getEO();
      }
      this.getLembaga();
    },
  },
  methods: {
    onChange: function (e) {
      this.eo[e.target.name] = e.target.value;
    },
    getEO: async function () {
      try {
        //call api get eo
        const url = EO_URL;
        const res = await this.$http.get(`${url}&id=${this.eo.id}`, {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });

        //get the data from api response
        const { data } = res.data;
        this.eo = data;
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    getLembaga: async function () {
      try {
        //call api get eo
        const url = this.lembaga === "" ? "/lembaga" : `${"/lembaga"}&search=`;
        const res = await this.$http.get(`${url}&no=0&limit=`, {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });

        //get the data from api response
        const { data, total } = res.data;

        this.loading = false;
        this.lembaga_s = data;
        this.total_data = total;
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    deleteEO: async function () {
      const delIt = confirm("Anda yakin akan menghapus data eo ini?");
      if (delIt) {
        try {
          //call api get eo
          const url = EO_URL;
          await this.$http.delete(`${url}&id=${this.eo.id}`, {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            },
          });

          //get the data from api response
          this.$router.push("/eo");
        } catch ({ response }) {
          alert(response.data.message);
        }
      }
    },
    saveEO() {
      if (this.eo.id === "") {
        this.createEO();
      } else {
        this.updateEO();
      }
    },
    createEO: async function () {
      this.len_pass =
        this.eo.password && this.eo.password.length
          ? this.eo.password.length
          : 0;
      if (this.len_pass !== 0 && this.len_pass > 5) {
        if (this.eo.password === this.eo.confirm_password) {
          try {
            //call api create eo
            const url = EO_URL;
            await this.$http.post(url, this.eo, {
              headers: {
                Accept: "application/json",
                Authorization: `Bearer ${localStorage.getItem("jwt")}`,
              },
            });

            //get the data from api response
            this.$router.push(`/eo`);
          } catch ({ response }) {
            alert(response.data.message);
          }
        } else {
          alert("Konfirmasi password masih tidak sama");
        }
      } else {
        alert("Masukkan password minimal 6 karakter");
      }
    },
    updateEO: async function () {
      this.len_pass =
        this.eo.password && this.eo.password.length
          ? this.eo.password.length
          : 0;
      if (this.len_pass === 0 || this.len_pass > 5) {
        if (this.eo.password === this.eo.confirm_password) {
          try {
            //call api create eo
            const url = EO_URL;
            await this.$http.put(url, this.eo, {
              headers: {
                Accept: "application/json",
                Authorization: `Bearer ${localStorage.getItem("jwt")}`,
              },
            });

            //get the data from api response
            this.$router.push(`/eo`);
          } catch ({ response }) {
            alert(response.data.message);
          }
        } else {
          alert("Konfirmasi password masih tidak sama");
        }
      } else {
        alert("Masukkan password minimal 6 karakter");
      }
    },
  },
};
</script>
