<template>
  <div class="row animated fadeIn">
    <div class="col-md-6">
      <form @submit.prevent="saveEO" class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;Profile Event Organizer</div>
          <div class="d-md-flex">
            <button
              v-if="user.role === 'eo'"
              type="submit"
              class="btn btn-primary ml-2"
            >
              <i class="icon-check"></i> Simpan
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Nama"
              id="nama"
              :value="eo.nama"
              required
            />
            <select-input
              id="id_lembaga"
              :onChange="onChange"
              class="col-12"
              label="Lembaga"
              :data="this.lembaga_s"
              :value="eo.id_lembaga"
              required
            />
            <text-area
              class="col-12"
              id="alamat"
              :value="eo.alamat"
              :onChange="onChange"
              label="Alamat"
              required
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="No. Telp"
              id="no_telp"
              :value="eo.no_telp"
              required
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="Website"
              id="website"
              :value="eo.website"
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="Password"
              type="password"
              id="password"
              :value="eo.password"
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="Konfirmasi Password"
              type="password"
              id="confirm_password"
              :value="eo.confirm_password"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import TextInput from "@/components/TextInput";
import TextArea from "@/components/TextArea";
import SelectInput from "@/components/SelectInput";

import { EO_URL } from "@/const/api";

import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "FormEO",
  mounted() {
    this.getEO();
    this.getLembaga();
    this.eo.id = this.$route.params.id;
  },
  data() {
    return {
      user: {},
      lembaga_s: [],
      eo: {
        id: "",
        id_lembaga: "",
        nama: "",
        alamat: "",
        no_telp: "",
        website: "",
        password: "",
        confirm_password: "",
      },
    };
  },
  watch: {
    "$route.params.id": function () {
      this.getEO();
      this.getLembaga();
      this.eo.id = this.$route.params.id;
    },
  },
  methods: {
    onChange: function (e) {
      this.eo[e.target.name] = e.target.value;
    },
    getEO: async function () {
      try {
        //call api get eo
        const url = EO_URL;
        const res = await this.$http.get(
          `${url}&sub=${this.user.sub}&pfile=1`,
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            },
          }
        );

        //get the data from api response
        const { data } = res.data;
        this.eo = data[0];
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    getLembaga: async function () {
      try {
        //call api get eo
        const url = this.lembaga === "" ? "/lembaga" : `${"/lembaga"}&search=`;
        const res = await this.$http.get(`${url}&no=0&limit=`, {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });

        //get the data from api response
        const { data, total } = res.data;

        this.loading = false;
        this.lembaga_s = data;
        this.total_data = total;
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    saveEO: function () {
      if (this.eo.id !== "") {
        this.updateEO();
      }
    },
    updateEO: async function () {
      this.len_pass =
        this.eo.password && this.eo.password.length
          ? this.eo.password.length
          : 0;
      if (this.len_pass === 0 || this.len_pass > 5) {
        if (this.eo.password === this.eo.confirm_password) {
          try {
            //call api create eo
            const url = EO_URL;
            await this.$http.put(url, this.eo, {
              headers: {
                Accept: "application/json",
                Authorization: `Bearer ${localStorage.getItem("jwt")}`,
              },
            });
            alert("Profile berhasil disimpan");
          } catch ({ response }) {
            alert(response.data.message);
          }
        } else {
          alert("Konfirmasi password masih tidak sama");
        }
      } else {
        alert("Masukkan password minimal 6 karakter");
      }
    },
  },
  components: {
    TextInput,
    TextArea,
    SelectInput,
  },
};
</script>
