<template>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <router-view />
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "Auth",
  beforeMount() {
    if (this.token !== null) {
      this.$router.push("/");
      return;
    }
  }
};
</script>
<style lang="css" scoped>
.auth-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
