<template>
  <div>
    <app-header />
    <div class="app-body mb-4">
      <side-bar />
      <main class="main">
        <div class="container-fluid mt-3">
          <router-view />
        </div>
      </main>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import SideBar from "@/components/SideBar";
import AppHeader from "@/components/AppHeader";
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "Home",
  components: {
    SideBar,
    AppHeader,
  },
  data() {
    return {
      loading: true,
    };
  },
  beforeMount() {
    if (this.token === null) {
      this.$router.push("/auth/login");
      return;
    }
  },
};
</script>
