<template>
  <b-tab title="Jadwal" class="p-0">
    <template v-if="event">
      <div class="p-3">
        <h4 class="m-0">Jadwal Event</h4>
      </div>
      <b-table :items="items" :fields="fields" class="mb-0">
        <template #cell(id)="data">
          <b-dropdown block variant="primary" text="Action">
            <b-dropdown-item @clock="onEdit(data.value)">Edit</b-dropdown-item>
            <b-dropdown-item @clock="onDelete(data.value)" variant="danger">
              Hapus
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
    </template>
  </b-tab>
</template>

<script>
import dayjsMixins from "@/mixins/dayjs";
export default {
  props: ["event"],
  mixins: [dayjsMixins],
  data() {
    return {
      items: [],
      fields: [
        { key: "id", label: "", thAttr: { width: "128px" } },
        { key: "tanggal", label: "Tanggal", thAttr: { width: "15%" } },
        { key: "kegiatan", label: "Kegiatan" },
        { key: "jam_mulai", label: "Jam Mulai", thAttr: { width: "10%" } },
        { key: "jam_akhir", label: "Jam Selesai", thAttr: { width: "10%" } },
      ],
    };
  },
};
</script>

<style>
.detail-table {
  border: 1px solid #2f353a;
  border-collapse: separate;
  width: 100%;
}
.detail-table th {
  background: #2f353a;
  color: #fff;
  width: 15%;
  padding: 8px;
}
.detail-table td {
  padding: 8px;
}
</style>
