<template>
  <b-tab title="Tenant" no-body class="p-0">
    <template v-if="event">
      <b-card-body v-if="user.role === 'eo' || user.role === 'admin'">
        <b-row>
          <b-col cols="3">
            <b-form-input placeholder="Pencarian" />
          </b-col>
        </b-row>
      </b-card-body>
      <b-table :items="event.joined_tenants" :fields="fields" show-empty>
        <template #empty>
          <p class="text-center m-0">Tidak ada pengisi acara.</p>
        </template>
        <template #emptyfiltered>
          <p class="text-center m-0">Tidak ada pengisi acara.</p>
        </template>
        <template #cell(tenant)="data">
          {{ data.item.tenant.nama }}
        </template>
        <template #cell(harga_dari_tenant)="data">
          {{ parseInt(data.item.harga_dari_tenant).toLocaleString("id") }}
        </template>
        <template #cell(harga_akhir)="data">
          {{ parseInt(data.item.harga_akhir).toLocaleString("id") }}
        </template>
        <template #cell(id)="data">
          <b-dropdown
            text="Action"
            size="sm"
            variant="primary"
            v-if="user.role === 'admin'"
          >
            <b-dropdown-item @click="editSpeaker(data.item)">
              Edit
            </b-dropdown-item>
            <b-dropdown-item
              v-if="
                data.item.status === 'menunggu_pembayaran' &&
                  data.item.bukti_bayar !== null
              "
              @click="viewBuktiBayar(data.item)"
            >
              Lihat Bukti Bayar
            </b-dropdown-item>
            <b-dropdown-item
              v-if="
                data.item.status === 'menunggu_pembayaran' &&
                  data.item.bukti_bayar !== null
              "
              @click="onAcceptPayment(data.item)"
            >
              Konfirmasi Bukti Bayar
            </b-dropdown-item>
            <b-dropdown-item
              v-if="data.item.status === 'pending'"
              @click="onAcceptRegister(data.item)"
            >
              Konfirmasi Pendaftaran
            </b-dropdown-item>
            <b-dropdown-item variant="danger" @click="onDelete(data.item)">
              Hapus
            </b-dropdown-item>
          </b-dropdown>
        </template>
        <template #cell(status)="{ item }">
          <span class="badge badge-dark" v-if="item.status === 'pending'">
            Menunggu Konfirmasi EO
          </span>
          <span class="badge badge-success" v-if="item.status === 'diterima'">
            {{ item.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-dark"
            v-if="item.status === 'menunggu_pembayaran'"
          >
            {{
              item.bukti_bayar === null
                ? "Menunggu Pembayaran"
                : "Menunggu Konfirmasi Pembayaran"
            }}
          </span>
          <span
            class="badge badge-primary"
            v-if="item.status === 'sudah_bayar'"
          >
            {{ item.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-danger"
            v-if="item.status === 'tidak_diterima'"
          >
            {{ item.status.toUpperCase() }}
          </span>
        </template>
      </b-table>
    </template>
    <b-modal
      id="modal-tenant-preview"
      title="Bukti Pembayaran"
      ok-only
      centered
    >
      <div v-if="selectedData">
        <img :src="selectedData.bukti_bayar" width="100%" />
      </div>
    </b-modal>
  </b-tab>
</template>

<script>
import { mapState } from "vuex";
import dayjsMixins from "@/mixins/dayjs";

export default {
  props: ["event"],
  mixins: [dayjsMixins],
  computed: {
    ...mapState("auth", ["user"])
  },
  data() {
    return {
      selectedData: null,
      fields: [
        {
          key: "id",
          label: "",
          thAttr: { width: "50px" }
        },
        { key: "tenant", label: "Tenant" },
        { key: "harga_dari_tenant", label: "Harga dari Tenant" },
        { key: "harga_akhir", label: "Harga Akhir" },
        { key: "keterangan", label: "Keterangan" },
        { key: "status", label: "Status" }
      ]
    };
  },
  methods: {
    viewBuktiBayar(data) {
      this.selectedData = data;
      this.$bvModal.show("modal-tenant-preview");
    },
    uploadBuktiBayar(data) {
      this.selectedData = data;
      this.$bvModal.show("modal-tenant-upload");
    },
    async onUploadBuktiBayar() {
      try {
        this.uploading = true;

        const formData = new FormData();
        formData.append("file", this.file);

        await this.$store.dispatch("event_speaker/UPLOAD_PROOF", {
          id: this.selectedData.id,
          data: formData
        });

        this.$bvToast.toast("Berhasil upload bukti pembayaran.", {
          variant: "success",
          title: "Sukses"
        });
        this.$bvModal.hide("modal-tenant-upload");
        this.$root.$emit("event::reload");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error"
        });
      } finally {
        this.uploading = false;
      }
    },
    async onAcceptRegister(item) {
      const confirmation = await this.$bvModal.msgBoxConfirm(
        "Terima pendaftaran tenant ini?",
        {
          title: "Konfirmasi",
          centered: true
        }
      );

      if (!confirmation) {
        return;
      }

      await this.$store.dispatch("event_tenant/UPDATE", {
        id: item.id,
        status: "menunggu_pembayaran"
      });

      this.$bvToast.toast("Pendaftaran tenant berhasil di-konfirmasi.", {
        variant: "success",
        title: "Sukses"
      });

      this.$root.$emit("event::reload");
    },
    async onAcceptPayment(item) {
      const confirmation = await this.$bvModal.msgBoxConfirm(
        "Terima pembayaran tenant ini?",
        {
          title: "Konfirmasi",
          centered: true
        }
      );

      if (!confirmation) {
        return;
      }

      await this.$store.dispatch("event_tenant/UPDATE", {
        id: item.id,
        status: "diterima"
      });

      this.$bvToast.toast("Pendaftaran tenant berhasil diterima.", {
        variant: "success",
        title: "Sukses"
      });

      this.$root.$emit("event::reload");
    },
    async onDelete(item) {
      const confirmation = await this.$bvModal.msgBoxConfirm(
        "Hapus data ini?",
        {
          title: "Konfirmasi",
          centered: true
        }
      );

      if (!confirmation) {
        return;
      }

      await this.$store.dispatch("event_speaker/DESTROY", item.id);
      this.$root.$emit("event::reload");
    }
  }
};
</script>
