<template>
  <b-card v-if="invitation">
    <h4 class="mb-3">Informasi Undangan</h4>
    <table class="m-0 detail-table">
      <tr>
        <th>Harga Tawaran</th>
        <td
          v-text="parseInt(invitation.harga_dari_eo).toLocaleString('id')"
        ></td>
      </tr>
      <tr>
        <th>Keterangan</th>
        <td v-text="invitation.keterangan"></td>
      </tr>
      <tr>
        <th>Status</th>
        <td>
          <span class="badge badge-dark" v-if="invitation.status === 'pending'">
            {{ invitation.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-success"
            v-if="invitation.status === 'diterima'"
          >
            {{ invitation.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-primary"
            v-if="invitation.status === 'proses'"
          >
            {{ invitation.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-primary"
            v-if="invitation.status === 'sudah_bayar'"
          >
            {{ invitation.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-danger"
            v-if="invitation.status === 'tidak_diterima'"
          >
            {{ invitation.status.toUpperCase() }}
          </span>
        </td>
      </tr>
      <tr v-if="invitation.status !== 'pending'">
        <th>Bukti Bayar</th>
        <td>
          <template v-if="invitation.bukti_bayar !== null">
            <a
              :href="invitation.bukti_bayar"
              @click="payment_viewed = true"
              target="_blank"
              class="btn btn-primary mr-2"
            >
              <i class="fa fa-download"></i>
              <span>Download</span>
            </a>
            <b-btn
              variant="success"
              v-if="invitation.konfirmasi_bukti_bayar == 0"
              @click="onConfirmPayment"
            >
              <i class="fa fa-check"></i>
              <span>Konfirmasi</span>
            </b-btn>
            <span v-else>
              Dikonfirmasi pada tanggal
              {{
                dayjs(invitation.tanggal_konfirmasi_bukti_bayar).format(
                  "DD MMM YYYY, HH:mm"
                )
              }}
            </span>
          </template>
          <b-badge v-else>Belum Diupload</b-badge>
        </td>
      </tr>
    </table>
  </b-card>
</template>

<script>
import dayjsMixins from "@/mixins/dayjs";
import { mapState } from "vuex";

export default {
  props: { invitation: { default: null } },
  mixins: [dayjsMixins],
  data() {
    return {
      payment_viewed: false
    };
  },
  computed: {
    ...mapState("auth", ["token", "user"])
  },
  methods: {
    async onConfirmPayment() {
      try {
        const confirmation = await this.$bvModal.msgBoxConfirm(
          "Apakah anda yakin ingin melakukan konfirmasi bukti bayar?",
          {
            title: "Konfirmasi",
            centered: true
          }
        );

        if (!confirmation) {
          return;
        }

        await this.$store.dispatch("event_speaker/UPDATE", {
          id: this.invitation.id,
          konfirmasi_bukti_bayar: 1
        });

        this.$root.$emit("event::reload");
        this.$bvToast.toast("Konfirmasi bukti bayar berhasil di-update.", {
          variant: "success",
          title: "Berhasil",
          solid: true
        });
      } catch (e) {
        this.$bvToast.toast(e.message, {
          variant: "danger",
          title: "Error",
          solid: true
        });
      }
    }
  }
};
</script>

<style>
.detail-table {
  border: 1px solid #2f353a;
  border-collapse: separate;
  width: 100%;
}
.detail-table th {
  background: #2f353a;
  color: #fff;
  width: 15%;
  padding: 8px;
}
.detail-table td {
  padding: 8px;
}
</style>
