<template>
  <b-tab title="Informasi">
    <template v-if="event">
      <h4 class="mb-3">Informasi Event</h4>
      <table class="m-0 detail-table">
        <tr>
          <th>No. Event</th>
          <td v-text="event.id"></td>
        </tr>
        <tr>
          <th>Nama Event</th>
          <td v-text="event.nama"></td>
        </tr>
        <tr>
          <th>Organizer</th>
          <td v-text="(event.eo && event.eo.nama) || '-'"></td>
        </tr>
        <tr>
          <th>Status</th>
          <td>
            <span
              class="badge text-lg badge-primary"
              v-if="event.status === 'draft'"
            >
              DRAFT
            </span>
            <span
              class="badge text-lg badge-success"
              v-if="event.status === 'publish'"
            >
              PUBLISH
            </span>
          </td>
        </tr>
        <tr>
          <th>Keterangan</th>
          <td v-text="event.keterangan"></td>
        </tr>
        <tr>
          <th>Kategori</th>
          <td>
            <span v-if="event.kategori === 'mice'"> MICE </span>
            <span v-if="event.kategori === 'musik_dan_hiburan'">
              Musik dan Hiburan
            </span>
          </td>
        </tr>
        <tr>
          <th>Tanggal</th>
          <td>
            {{ dayjs(event.tanggal_mulai).format("DD MMM YYYY") }} -
            {{ dayjs(event.tanggal_akhir).format("DD MMM YYYY") }}
          </td>
        </tr>
      </table>
    </template>
  </b-tab>
</template>

<script>
import dayjsMixins from "@/mixins/dayjs";

export default {
  props: ["event"],
  mixins: [dayjsMixins]
};
</script>

<style>
.detail-table {
  border: 1px solid #2f353a;
  border-collapse: separate;
  width: 100%;
}
.detail-table th {
  background: #2f353a;
  color: #fff;
  width: 15%;
  padding: 8px;
}
.detail-table td {
  padding: 8px;
}
</style>
