<template>
  <b-tab title="Pengisi Acara" no-body class="p-0">
    <template v-if="event">
      <b-card-body v-if="user.role === 'eo' || user.role === 'admin'">
        <b-row>
          <b-col cols="3">
            <b-form-input v-model="filter.search" placeholder="Pencarian" />
          </b-col>
          <b-col class="text-right">
            <b-btn variant="primary" @click="addSpeaker">
              <i class="fa fa-plus"></i>
              <span>Undang Pengisi Acara</span>
            </b-btn>
          </b-col>
        </b-row>
      </b-card-body>
      <b-table class="mb-0" :items="filteredData" :fields="fields" show-empty>
        <template #empty>
          <p class="text-center m-0">Tidak ada pengisi acara.</p>
        </template>
        <template #emptyfiltered>
          <p class="text-center m-0">Tidak ada pengisi acara.</p>
        </template>
        <template #cell(id)="data">
          <b-dropdown
            text="Action"
            size="sm"
            variant="primary"
            v-if="user.role === 'eo' || user.role === 'admin'"
          >
            <b-dropdown-item @click="editSpeaker(data.item)">
              Edit
            </b-dropdown-item>
            <b-dropdown-item
              v-if="
                data.item.status !== 'pending' && data.item.bukti_bayar === null
              "
              @click="uploadBuktiBayar(data.item)"
            >
              Upload Bukti Bayar
            </b-dropdown-item>
            <b-dropdown-item
              v-if="
                data.item.status !== 'pending' && data.item.bukti_bayar !== null
              "
              @click="viewBuktiBayar(data.item)"
            >
              Lihat Bukti Bayar
            </b-dropdown-item>
            <b-dropdown-item variant="danger" @click="onDelete(data.item)"
              >Hapus
            </b-dropdown-item>
          </b-dropdown>
        </template>
        <template #cell(status)="{ item }">
          <span class="badge badge-dark" v-if="item.status === 'pending'">
            {{ item.status.toUpperCase() }}
          </span>
          <span class="badge badge-secondary" v-if="item.status === 'diterima'">
            {{ item.status.toUpperCase() }}
          </span>
          <span class="badge badge-primary" v-if="item.status === 'proses'">
            {{ item.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-primary"
            v-if="item.status === 'sudah_bayar'"
          >
            {{ item.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-danger"
            v-if="item.status === 'tidak_diterima'"
          >
            {{ item.status.toUpperCase() }}
          </span>
        </template>
      </b-table>
    </template>
    <b-modal id="modal-preview" title="Bukti Pembayaran" ok-only centered>
      <div v-if="selectedData">
        <img :src="selectedData.bukti_bayar" width="100%" />
      </div>
    </b-modal>
    <b-modal
      id="modal-upload"
      title="Upload Bukti Pembayaran"
      hide-footer
      centered
    >
      <form @submit.prevent="onUploadBuktiBayar">
        <b-form-file v-model="file" class="mb-3" accept="image/*" />
        <b-btn variant="primary" type="submit">Upload</b-btn>
      </form>
    </b-modal>
    <b-modal
      id="modal-add-speaker"
      title="Tambah Pengisi Acara"
      centered
      hide-footer
    >
      <b-form @submit.prevent="onSubmit">
        <b-form-group label="Pengisi Acara">
          <b-contact type="speaker" v-model="form.id_pengisi_acara" />
        </b-form-group>
        <b-form-group label="Harga">
          <b-input-group prepend="Rp.">
            <b-form-input v-model.number="form.harga_dari_eo" required />
          </b-input-group>
        </b-form-group>
        <b-form-group label="Keterangan">
          <b-form-textarea v-model.trim="form.keterangan" rows="5" required />
        </b-form-group>
        <div class="text-right">
          <b-btn variant="primary" type="submit" :disabled="saving">
            {{ saving ? "Menyimpan..." : "Simpan" }}
          </b-btn>
        </div>
      </b-form>
    </b-modal>
  </b-tab>
</template>

<script>
import { mapState } from "vuex";
import BContact from "@/components/form/contact";
import dayjsMixins from "@/mixins/dayjs";

export default {
  props: ["event"],
  mixins: [dayjsMixins],
  components: { "b-contact": BContact },
  computed: {
    ...mapState("auth", ["user"]),
    filteredData() {
      if (this.filter.search !== null || this.filter.search !== "") {
        return this.event.joined_speakers;
      }

      return this.event.joined_speakers.filter(x => {
        return x.speaker.nama.includes(this.filter.search);
      });
    }
  },
  data() {
    return {
      selectedData: null,
      saving: false,
      filter: {
        search: ""
      },
      file: null,
      form: {
        id_event: this.$route.params.id,
        id_pengisi_acara: null,
        harga_dari_eo: 0,
        keterangan: ""
      },
      fields: [
        {
          key: "id",
          label: "",
          thAttr: { width: "50px" }
        },
        {
          key: "speaker.nama",
          label: "Pengisi Acara"
        },
        {
          key: "keterangan",
          label: "Keterangan"
        },
        {
          key: "harga_dari_eo",
          tdClass: "text-right border-left",
          thClass: "text-right border-left",
          thAttr: { width: "10%" },
          formatter: value =>
            (value && value.toLocaleString("id")) || value || 0,
          label: "Event Organizer"
        },
        {
          key: "harga_dari_pengisi_acara",
          tdClass: "text-right",
          thClass: "text-right",
          thAttr: { width: "10%" },
          formatter: value =>
            (value && value.toLocaleString("id")) || value || 0,
          label: "Pengisi Acara"
        },
        {
          key: "harga_dari_akhir",
          tdClass: "text-right border-right",
          thClass: "text-right border-right",
          thAttr: { width: "10%" },
          formatter: value =>
            (value && value.toLocaleString("id")) || value || 0,
          label: "Harga Akhir"
        },
        {
          key: "status",
          label: "Status",
          thClass: "text-center",
          tdClass: "text-center"
        }
      ]
    };
  },
  methods: {
    editSpeaker(data) {
      this.selectedData = data;
    },
    viewBuktiBayar(data) {
      this.selectedData = data;
      this.$bvModal.show("modal-preview");
    },
    uploadBuktiBayar(data) {
      this.selectedData = data;
      this.$bvModal.show("modal-upload");
    },
    addSpeaker() {
      this.$bvModal.show("modal-add-speaker");
    },
    async onUploadBuktiBayar() {
      try {
        this.uploading = true;

        const formData = new FormData();
        formData.append("file", this.file);

        await this.$store.dispatch("event_speaker/UPLOAD_PROOF", {
          id: this.selectedData.id,
          data: formData
        });

        this.$bvToast.toast("Berhasil upload bukti pembayaran.", {
          variant: "success",
          title: "Sukses"
        });
        this.$bvModal.hide("modal-upload");
        this.$root.$emit("event::reload");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error"
        });
      } finally {
        this.uploading = false;
      }
    },
    async onDelete(item) {
      const confirmation = await this.$bvModal.msgBoxConfirm("Hapus data ini?");

      if (!confirmation) {
        return;
      }

      await this.$store.dispatch("event_speaker/DESTROY", item.id);
      this.$root.$emit("event::reload");
    },
    async onSubmit() {
      try {
        const STORE_ACTION = this.selectedData
          ? "event_speaker/UPDATE"
          : "event_speaker/STORE";
        await this.$store.dispatch(STORE_ACTION, this.form);

        this.$bvModal.hide("modal-add-speaker");
        this.$root.$emit("event::reload");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error"
        });
      } finally {
        this.saving = false;
      }
    }
  }
};
</script>
