<template>
  <b-card v-if="registration">
    <h4 class="mb-3">Informasi Pendaftaran</h4>
    <table class="m-0 detail-table">
      <tr>
        <th>Harga Tawaran</th>
        <td
          v-text="parseInt(registration.harga_dari_tenant).toLocaleString('id')"
        ></td>
      </tr>
      <tr>
        <th>Keterangan</th>
        <td v-text="registration.keterangan"></td>
      </tr>
      <tr>
        <th>Status</th>
        <td>
          <span
            class="badge badge-dark"
            v-if="registration.status === 'pending'"
          >
            Menunggu Konfirmasi EO
          </span>
          <span
            class="badge badge-success"
            v-if="registration.status === 'diterima'"
          >
            {{ registration.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-dark"
            v-if="registration.status === 'menunggu_pembayaran'"
          >
            {{
              registration.bukti_bayar === null
                ? "Menunggu Pembayaran"
                : "Menunggu Konfirmasi Pembayaran"
            }}
          </span>
          <span
            class="badge badge-primary"
            v-if="registration.status === 'sudah_bayar'"
          >
            {{ registration.status.toUpperCase() }}
          </span>
          <span
            class="badge badge-danger"
            v-if="registration.status === 'tidak_diterima'"
          >
            {{ registration.status.toUpperCase() }}
          </span>
        </td>
      </tr>
      <tr v-if="registration.status === 'menunggu_pembayaran'">
        <th>Bukti Bayar</th>
        <td>
          <template v-if="registration.bukti_bayar === null">
            <b-btn variant="success" @click="prepareUploadPayment">
              <i class="icon icon-cloud-upload mr-2"></i>
              <span>Upload Bukti Bayar</span>
            </b-btn>
          </template>
          <template v-else>
            <a
              :href="registration.bukti_bayar"
              @click="payment_viewed = true"
              target="_blank"
              class="btn btn-primary mr-2"
            >
              <i class="fa fa-download"></i>
              <span>Download</span>
            </a>
            <b-btn variant="success" @click="prepareUploadPayment">
              <i class="icon icon-cloud-upload mr-2"></i>
              <span>Upload Ulang Bukti Bayar</span>
            </b-btn>
          </template>
        </td>
      </tr>
    </table>

    <b-modal
      id="modal-upload-payment"
      title="Upload Bukti Pembayaran"
      hide-footer
      centered
    >
      <form @submit.prevent="onUploadPayment">
        <b-form-file v-model="file" class="mb-3" accept="image/*" />
        <b-btn variant="primary" type="submit" :disabled="uploading">
          {{ uploading ? "Mengupload..." : "Upload" }}
        </b-btn>
      </form>
    </b-modal>
  </b-card>
</template>

<script>
import dayjsMixins from "@/mixins/dayjs";
import { mapState } from "vuex";

export default {
  props: { registration: { default: null } },
  mixins: [dayjsMixins],
  data() {
    return {
      payment_viewed: false,
      uploading: false
    };
  },
  computed: {
    ...mapState("auth", ["token", "user"])
  },
  methods: {
    async onConfirmPayment() {
      try {
        const confirmation = await this.$bvModal.msgBoxConfirm(
          "Apakah anda yakin ingin melakukan konfirmasi bukti bayar?",
          {
            title: "Konfirmasi",
            centered: true
          }
        );

        if (!confirmation) {
          return;
        }

        await this.$store.dispatch("event_speaker/UPDATE", {
          id: this.registration.id,
          konfirmasi_bukti_bayar: 1
        });

        this.$root.$emit("event::reload");
        this.$bvToast.toast("Konfirmasi bukti bayar berhasil di-update.", {
          variant: "success",
          title: "Berhasil",
          solid: true
        });
      } catch (e) {
        this.$bvToast.toast(e.message, {
          variant: "danger",
          title: "Error",
          solid: true
        });
      }
    },
    prepareUploadPayment() {
      this.$bvModal.show("modal-upload-payment");
    },
    async onUploadPayment() {
      try {
        this.uploading = true;

        const formData = new FormData();
        formData.append("file", this.file);

        await this.$store.dispatch("event_tenant/UPLOAD_PROOF", {
          id: this.registration.id,
          data: formData
        });

        this.$bvToast.toast("Berhasil upload bukti pembayaran.", {
          variant: "success",
          title: "Sukses"
        });
        this.$bvModal.hide("modal-upload-payment");
        this.$root.$emit("event::reload");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error"
        });
      } finally {
        this.uploading = false;
      }
    }
  }
};
</script>

<style>
.detail-table {
  border: 1px solid #2f353a;
  border-collapse: separate;
  width: 100%;
}
.detail-table th {
  background: #2f353a;
  color: #fff;
  width: 15%;
  padding: 8px;
}
.detail-table td {
  padding: 8px;
}
</style>
