<template>
  <div class="row animated fadeIn">
    <div class="col-md-6">
      <form @submit.prevent="saveTenant" class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;Tenant</div>
          <div class="d-md-flex">
            <button
              @click="deleteTenant"
              v-if="$route.params.id"
              to="create-tenant"
              class="btn btn-danger ml-2"
            >
              <i class="icon-trash"></i> Hapus
            </button>
            <button
              v-if="user.role === 'admin'"
              type="submit"
              class="btn btn-primary ml-2"
            >
              <i class="icon-check"></i> Simpan
            </button>
          </div>
        </div>
        <div class="card-body">
          <b-form-group label="Nama Tenant">
            <b-form-input v-model.trim="tenant.nama" required />
          </b-form-group>
          <b-form-group label="Pemilik">
            <b-form-input v-model.trim="tenant.pemilik" required />
          </b-form-group>
          <b-form-group label="Produk">
            <b-form-textarea v-model.trim="tenant.produk" required />
          </b-form-group>
          <b-form-group label="No. Telp">
            <b-form-input v-model.trim="tenant.no_telp" type="tel" required />
          </b-form-group>
          <b-form-group label="Website">
            <b-form-input v-model.trim="tenant.website" type="url" />
          </b-form-group>
          <b-form-group label="Alamat">
            <b-form-textarea
              class="col-12"
              v-model.trim="tenant.alamat"
              required
            />
          </b-form-group>
          <b-form-group label="Email">
            <b-form-input v-model.trim="tenant.email" type="email" required />
          </b-form-group>
          <b-form-group label="Password">
            <b-form-input type="password" v-model.trim="tenant.password" />
            <small class="text-muted" v-if="$route.params.id">
              Kosongkan bila tidak ingin mengubah password.
            </small>
          </b-form-group>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "FormTenant",
  data() {
    return {
      tenant: {
        id: "",
        nama: "",
        pemilik: "",
        produk: "",
        no_telp: "",
        website: "",
        alamat: "",
        email: "",
        password: "",
        confirm_password: "",
      },
    };
  },
  mounted() {
    if (this.$route.params.id) {
      this.getTenant();
    }
  },
  methods: {
    async getTenant() {
      this.loading = true;
      try {
        const id = this.$route.params.id;
        const data = await this.$store.dispatch("tenant/SHOW", id);

        this.tenant = data;
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
    async deleteTenant(id) {
      const delIt = confirm("Anda yakin akan menghapus data tenant ini?");
      if (delIt) {
        try {
          //call api get tenant
          await this.$store.dispatch("tenant/DESTROY", id);

          //get the data from api response
          this.$router.push("/tenant");
        } catch (e) {
          const errorMessage =
            (e.response && e.response.data && e.response.data.message) ||
            e.message;

          this.$bvToast.toast(errorMessage, {
            variant: "danger",
            title: "Error",
          });
        }
      }
    },
    async saveEvent() {
      this.saving = true;
      try {
        const STORE_ACTION = this.$route.params.id
          ? "event/UPDATE"
          : "event/STORE";
        await this.$store.dispatch(STORE_ACTION, this.event);

        this.$bvToast.toast("Tenant berhasil disimpan.", {
          variant: "success",
          title: "Sukses",
        });
        this.$router.push("/event");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.saving = false;
      }
    },
  },
};
</script>
