<template>
  <div class="row animated fadeIn">
    <div class="col-md-6">
      <form @submit.prevent="saveTenant" class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;Profil Tenant</div>
          <div class="d-md-flex">
            <button
              v-if="user.role === 'tenant'"
              type="submit"
              class="btn btn-primary ml-2"
            >
              <i class="icon-check"></i> Simpan
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <text-input
              class="col-12"
              :onChange="this.onChange"
              label="Nama Tenant"
              id="nama"
              :value="tenant.nama"
              required
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="Pemilik"
              id="pemilik"
              :value="tenant.pemilik"
              required
            />
            <text-area
              class="col-12"
              id="produk"
              :value="tenant.produk"
              :onChange="onChange"
              label="Produk"
              required
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="No. Telp"
              id="no_telp"
              :value="tenant.no_telp"
              required
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="Website"
              id="website"
              :value="tenant.website"
            />
            <text-area
              class="col-12"
              id="alamat"
              :value="tenant.alamat"
              :onChange="onChange"
              label="Alamat"
              required
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="Password"
              type="password"
              id="password"
              :value="tenant.password"
              v-if="tenant.id === ''"
              required
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="Password"
              type="password"
              id="password"
              :value="tenant.password"
              v-if="tenant.id"
            />
            <text-input
              class="col-12"
              :onChange="onChange"
              label="Konfirmasi Password"
              type="password"
              id="confirm_password"
              :value="tenant.confirm_password"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import TextInput from "@/components/TextInput";
import TextArea from "@/components/TextArea";

import { TENANT_URL } from "@/const/api";

import { parseJWT } from "@/utils/parseJWT";

export default {
  name: "FormTenant",
  mounted() {
    this.user = parseJWT(localStorage.getItem("jwt"));
    this.getTenant();
    this.tenant.id = this.$route.params.id;
  },
  data() {
    return {
      user: {},
      tenant: {
        id: "",
        nama: "",
        pemilik: "",
        produk: "",
        no_telp: "",
        website: "",
        alamat: "",
        password: "",
        confirm_password: "",
      },
    };
  },
  watch: {
    "$route.params.id": function () {
      this.getTenant();
      this.tenant.id = this.$route.params.id;
    },
  },
  methods: {
    onChange: function (e) {
      this.tenant[e.target.name] = e.target.value;
    },
    getTenant: async function () {
      try {
        //call api get tenant
        const url = TENANT_URL;
        const res = await this.$http.get(
          `${url}&sub=${this.user.sub}&pfile=1`,
          {
            headers: {
              Accept: "application/json",
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            },
          }
        );

        //get the data from api response
        const { data } = res.data;
        this.tenant = data[0];
      } catch ({ response }) {
        alert(response.data.message);
      }
    },
    saveTenant: function () {
      if (this.tenant.id !== "") {
        this.updateTenant();
      }
    },
    updateTenant: async function () {
      this.len_pass =
        this.tenant.password && this.tenant.password.length
          ? this.tenant.password.length
          : 0;
      if (this.len_pass === 0 || this.len_pass > 5) {
        if (this.tenant.password === this.tenant.confirm_password) {
          try {
            //call api create tenant
            const url = TENANT_URL;
            await this.$http.put(url, this.tenant, {
              headers: {
                Accept: "application/json",
                Authorization: `Bearer ${localStorage.getItem("jwt")}`,
              },
            });

            //get the data from api response
            alert("Profil berhasil disimpan");
          } catch ({ response }) {
            alert(response.data.message);
          }
        } else {
          alert("Konfirmasi password masih tidak sama");
        }
      } else {
        alert("Masukkan password minimal 6 karakter");
      }
    },
  },
  components: {
    TextInput,
    TextArea,
  },
};
</script>
