<template>
  <b-navbar toggleable="lg" class="app-header">
    <b-navbar-brand href="/dashboard" class="text-primary">
      <strong>EO App</strong>
    </b-navbar-brand>
    <b-navbar-nav class="ml-auto">
      <b-nav-item-dropdown right v-if="user">
        <template #button-content>
          <img
            class="img-avatar mr-2"
            src="https://picsum.photos/id/237/200/200"
            alt="avatar"
            width="32"
          />
          <strong
            v-text="user.email"
            class="text-decoration-none text-muted"
          ></strong>
        </template>
        <b-dropdown-header class="text-center">
          <strong>{{ user.email }}</strong>
        </b-dropdown-header>
        <b-dropdown-item to="/profile">
          <i class="icon-people"></i> Profile
        </b-dropdown-item>
        <b-dropdown-item @click="signOut">
          <i class="icon-lock"></i> Logout
        </b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </b-navbar>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "AppHeader",
  methods: {
    signOut() {
      if (confirm("Apakah anda yakin ingin logout?")) {
        this.$store.dispatch("auth/DO_LOGOUT");
        this.$router.push("/auth/login");
      }
    },
  },
};
</script>
