<template>
  <div class="d-flex flex-column">
    <label>{{ label }}</label>
    <label v-show="!hasImage && !croping" class="image-label" for="fileInput">
      <img src="../assets/photo.svg" class="icon" />
    </label>
    <label v-show="hasImage && !croping" for="fileInput">
      <img id="image-prev" :src="cropped" class="imagePrev" />
    </label>
    <image-uploader
      :preview="false"
      class="fileinput"
      capture="environment"
      :debug="1"
      :maxWidth="1000"
      :maxHeight="1000"
      :quality="0.7"
      :autoRotate="true"
      outputFormat="verbose"
      @input="setImage"
    />
    <div v-show="croping" class="crop-container">
      <vue-croppie
        ref="croppieRef"
        :enableOrientation="true"
        :enableResize="false"
        :boundary="{ width: 200, height: 300 }"
        :viewport="{ width: 150, height: 250 }"
        @result="result"
        @update="update"
      ></vue-croppie>
      <button class="btn btn-primary" v-if="croping" @click="crop">Crop</button>
    </div>
  </div>
</template>
<style lang="css">
#fileInput {
  display: none;
}
</style>
<style lang="css" scoped>
.crop-container {
  margin-top: 10px;
}

.imagePrev {
  margin-top: 10px;
  width: 30%;
  border-radius: 8px;
  min-height: 133px;
  object-fit: cover;
  cursor: pointer;
}

.image-label {
  margin-top: 12px;
  background: #3f4659;
  min-height: 400px;
  border-radius: 8px;
  text-align: center;
  max-width: 30%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-label .icon {
  width: 30%;
}
</style>
<script>
export default {
  name: "ImagePicker",
  inheritAttrs: false,
  props: {
    label: String,
    name: String,
    value: String,
    placeholder: String,
    description: String,
    src: String
  },
  mounted() {
    if (this.src) {
      //when there is some image source (used for editing)
      this.hasImage = true;
      this.cropped = this.src;
      this.$refs.croppieRef.bind({
        url: this.src
      });
    }
  },
  data() {
    return {
      cropped: null,
      hasImage: false,
      croping: false
    };
  },
  methods: {
    result(output) {
      this.cropped = output;
    },
    update(val) {
      console.log(val);
    },
    crop() {
      let options = {
        type: "base64",
        size: { width: 400, height: 700 },
        format: "jpeg"
      };
      this.$refs.croppieRef.result(options, output => {
        console.log(output);
        this.cropped = output;
        this.croping = false;
        this.$emit("setImage", output);
      });
    },
    setImage(output) {
      console.log("hey output", output);
      this.hasImage = true;
      this.croping = true;
      this.$refs.croppieRef.bind({
        url: output.dataUrl
      });
    }
  }
};
</script>
