<template>
  <ul v-if="total_page > 1" class="pagination">
    <li class="page-item">
      <router-link class="page-link" :to="`${to}/1`">First</router-link>
    </li>
    <li
      v-for="n in total_page"
      :key="n"
      class="page-item"
      :class="curPage === n ? 'active' : ''"
    >
      <router-link class="page-link" :to="{ path: `${to}/${n}` }">{{
        n
      }}</router-link>
    </li>
    <li class="page-item">
      <router-link class="page-link" :to="`${to}/${total_page}`"
        >Last</router-link
      >
    </li>
  </ul>
</template>
<script>
export default {
  name: "Pagination",
  props: {
    total: {
      type: Number,
      required: true
    },
    limit: Number,
    to: String,
    curPage: Number
  },
  data() {
    return {
      total_page: 0
    };
  },
  watch: {
    total: function() {
      this.total_page = Math.ceil(this.total / this.limit);
    }
  },
  created() {
    this.total_page = Math.ceil(this.total / this.limit);
  }
};
</script>
