<template>
  <div>
    <div class="form-group">
      <label v-if="label" :for="id">{{ label }}</label>
      <select class="form-control" :id="id" :name="id" @change="onChange">
        <option
          :selected="value == val.id ? true : false"
          v-for="(val, i) in data"
          :key="i"
          :value="val.id"
          >{{ val.nama }}</option
        >
      </select>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    data: Array,
    onChange: Function,
    label: String,
    id: String,
    value: String,
    customClass: String
  }
};
</script>
