<template>
  <div>
    <div class="form-group">
      <label :for="id">{{ label }}</label>
      <textarea
        @change="onChange"
        class="form-control"
        :id="id"
        :name="id"
        rows="5"
        :placeholder="placeholder"
        :value="value ? value : ''"
        :required="required ? true : false"
      ></textarea>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    onChange: Function,
    label: String,
    id: String,
    placeholder: String,
    value: String,
    required: Boolean
  }
};
</script>
<style scoped>
textarea {
  resize: none;
}
</style>
