<template>
  <div>
    <div class="form-group">
      <label :for="id">{{ label }}</label>
      <input
        @change="onChange"
        class="form-control"
        :id="id"
        :name="id"
        :type="type"
        :placeholder="placeholder"
        :required="required ? true : false"
        :value="value ? value : ''"
      />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    onChange: Function,
    label: String,
    id: String,
    placeholder: String,
    type: String,
    required: Boolean,
    value: String
  }
};
</script>
