<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <b-nav vertical class="w-100" v-if="user">
        <b-nav-item :active="$route.path === '/dashboard'" to="/dashboard">
          <i class="nav-icon icon-pie-chart"></i>
          <span>Dashboard</span>
        </b-nav-item>
        <b-nav-item :active="$route.path.startsWith('/event')" to="/event">
          <i class="nav-icon icon-pie-chart"></i>
          <span>Event</span>
        </b-nav-item>
        <template v-if="user.role === 'admin'">
          <b-nav-item disabled class="mt-3">
            <strong>MASTER DATA</strong>
          </b-nav-item>
          <b-nav-item-dropdown
            :active="$route.path.startsWith('/speaker')"
            text="Pengisi Acara"
            no-caret
            dropright
            right
          >
            <b-dropdown-item to="/speaker"
              >Daftar Pengisi Acara</b-dropdown-item
            >
            <b-dropdown-item to="/speaker-category">Kategori</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item :active="$route.path.startsWith('/tenant')" to="/tenant">
            <span>Tenant</span>
          </b-nav-item>
          <b-nav-item :active="$route.path.startsWith('/eo')" to="/eo">
            <span>Event Organizer</span>
          </b-nav-item>
        </template>
      </b-nav>
      <!--ul class="nav">
        <li class="nav-item">
          <router-link class="nav-link" to="/dashboard">
            <i class="nav-icon icon-pie-chart"></i>
            <span>Dashboard</span>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/event">
            <i class="nav-icon icon-pie-chart"></i>
            <span>Event</span>
          </router-link>
        </li>
        <li class="nav-title">Master Data</li>
        <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-user-following"></i>
            <span>Pengisi Acara</span>
          </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <router-link class="nav-link" to="/speaker">
                <i class="nav-icon icon-list"></i>
                <span>Daftar Pengisi Acara</span>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/speaker-category">
                <i class="nav-icon icon-folder"></i>
                <span>Daftar Kategori</span>
              </router-link>
            </li>
          </ul>
        </li>
        <menu-item
          title="Master Data"
          label="Pengisi Acara"
          icon="icon-user-following"
          :items="speakerData"
          v-if="user.role === 'speaker' || user.role === 'admin'"
        />
        <menu-item
          label="Tenant"
          to="/tenant"
          icon="icon-handbag"
          v-if="user.role === 'tenant' || user.role === 'admin'"
        />
        <menu-item
          label="Profil Tenant"
          to="/tenant-profile"
          icon="icon-user"
          v-if="user.role === 'tenant'"
        />
        <menu-item
          label="EO"
          :items="EOData"
          icon="icon-badge"
          v-if="user.role === 'eo' || user.role === 'admin'"
        />
      </ul-->
    </nav>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "SideBar",
  data() {
    return {
      EOData: [],
      speakerData: [],
    };
  },
  mounted() {
    console.log(this.user);
  },
};
</script>
