<template>
  <div>
    <li v-if="title" class="nav-title">{{ title }}</li>
    <li v-if="!items" class="nav-item">
      <router-link @click.native="hideSidebar" class="nav-link" :to="to">
        <i class="nav-icon" :class="icon ? icon : 'icon-star'"></i>
        {{ label }}</router-link
      >
    </li>
    <li v-if="items" class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon" :class="icon ? icon : 'icon-star'"></i
        >{{ label }}</a
      >
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <router-link
            @click.native="hideSidebar"
            v-for="(item, i) in items"
            :key="i"
            class="nav-link"
            :to="item.to"
            target="_top"
          >
            <i class="nav-icon" :class="item.icon"></i>
            {{ item.label }}</router-link
          >
        </li>
      </ul>
    </li>
  </div>
</template>
<script>
export default {
  name: "MenuItem",
  props: {
    title: String,
    label: String,
    to: String,
    icon: String,
    items: Array,
  },
  methods: {
    hideSidebar: function () {
      document.getElementsByTagName("body")[0].classList.remove("sidebar-show");
    },
  },
};
</script>
