<template>
  <div class="row animated fadeIn">
    <div class="col-md-6">
      <form @submit.prevent="saveSpeaker" class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;List Pengisi Acara</div>
          <div class="d-md-flex">
            <b-btn
              type="button"
              @click="deleteSpeaker"
              v-if="speaker.id"
              to="create-speaker"
              class="btn btn-danger ml-2"
            >
              <i class="icon-trash"></i> Hapus
            </b-btn>
            <b-btn type="submit" class="ml-2" variant="primary">
              <i class="icon-check"></i> Simpan
            </b-btn>
          </div>
        </div>
        <div class="card-body">
          <b-form-group label="Nama">
            <b-form-input id="nama" v-model="speaker.nama" required />
          </b-form-group>
          <b-form-group label="Kategori">
            <b-form-select
              id="id_kategori"
              :options="categories"
              v-model="speaker.id_kategori"
              text-field="nama"
              value-field="id"
            />
          </b-form-group>
          <b-form-group label="Alamat">
            <b-form-textarea id="alamat" v-model="speaker.alamat" required />
          </b-form-group>
          <b-form-group label="No. Telepon">
            <b-form-input id="no_telp" v-model="speaker.no_telp" required />
          </b-form-group>
          <b-form-group label="Website">
            <b-form-input id="website" v-model="speaker.website" />
          </b-form-group>
          <b-form-group label="Minimum Tawaran">
            <b-form-input
              type="number"
              id="minimum_tawaran"
              v-model="speaker.minimum_tawaran"
            />
          </b-form-group>
          <b-form-group label="E-mail">
            <b-form-input id="email" v-model="speaker.email" required />
          </b-form-group>
          <b-form-group label="Password">
            <b-form-input
              type="password"
              id="password"
              v-model="speaker.password"
              :required="speaker.id !== ''"
            />
            <small class="text-muted" v-if="speaker.id">
              Kosongkan bila tidak ingin mengubah password.
            </small>
          </b-form-group>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "FormListPengisiAcara",
  mounted() {
    this.getCategory();

    if (this.$route.params.id) {
      this.speaker.id = this.$route.params.id;
      this.getSpeaker();
    }
  },
  data() {
    return {
      categories: [],
      speaker: {
        id: "",
        nama: "",
        id_kategori: "1",
        alamat: "",
        no_telp: "",
        website: "",
        minimum_tawaran: "",
        email: "",
        password: "",
        confirm_password: "",
      },
    };
  },
  methods: {
    async getSpeaker() {
      this.loading = false;
      try {
        //call api get event
        const data = await this.$store.dispatch(
          "speaker/SHOW",
          this.$route.params.id
        );

        //get the data from api response
        this.speaker = data;
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
    async getCategory() {
      this.loading = true;
      try {
        //call api get category
        this.categories = await this.$store.dispatch("speaker_category/GET");
        console.log(this.categories);
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
    async deleteSpeaker() {
      const delIt = await this.$bvModal.msgBoxConfirm("Hapus data ini?", {
        title: "Konfirmasi",
      });

      if (delIt) {
        try {
          //call api get event
          await this.$store.dispatch("speaker/DESTROY", this.$route.params.id);

          //get the data from api response
          this.$router.push("/speaker");
        } catch (e) {
          const errorMessage =
            (e.response && e.response.data && e.response.data.message) ||
            e.message;

          this.$bvToast.toast(errorMessage, {
            variant: "danger",
            title: "Error",
          });
        } finally {
          this.loading = false;
        }
      }
    },
    async saveSpeaker() {
      this.saving = true;
      try {
        const STORE_ACTION = this.$route.params.id
          ? "speaker/UPDATE"
          : "speaker/STORE";
        await this.$store.dispatch(STORE_ACTION, this.speaker);

        this.$bvToast.toast("Tenant berhasil disimpan.", {
          variant: "success",
          title: "Sukses",
        });
        this.$router.push("/speaker");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.saving = false;
      }
    },
  },
};
</script>
