<template>
  <div class="row animated fadeIn">
    <div class="col-md-12">
      <h1 class="mb-3">Pengisi Acara</h1>
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div></div>
          <div class="d-md-flex">
            <b-form-input
              class="filter mb-2 mb-md-0"
              @keyup="fetchData"
              v-model="search"
              :placeholder="placeholder"
            />
            <button @click.prevent="onRefresh" class="btn btn-primary ml-md-2">
              <i class="icon-refresh"></i>
            </button>
            <router-link
              v-if="this.user.role === 'admin'"
              to="/speaker/create"
              class="btn btn-success ml-2"
            >
              <i class="icon-plus"></i> Tambah
            </router-link>
          </div>
        </div>
        <table class="table table-responsive-sm mb-0">
          <thead>
            <tr>
              <th width="30%">Nama</th>
              <th>Kategori</th>
              <th>No. Telp</th>
              <th>Website</th>
              <th class="text-right">Minimum Tawaran</th>
            </tr>
          </thead>
          <tbody v-if="loading">
            <tr>
              <td colspan="5" class="text-center">Memuat...</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr v-for="(speaker, i) in data" :key="i">
              <td>
                <router-link :to="{ path: `/speaker/show/${speaker.id}` }">
                  {{ speaker.nama }}
                </router-link>
              </td>
              <td>
                {{ speaker.kategori_pengisi_acara }}
              </td>
              <td>
                <a :href="`tel:${speaker.no_telp}`" target="_blank">
                  {{ speaker.no_telp }}
                </a>
              </td>
              <td>
                <a :href="`${speaker.website}`" target="_blank">
                  {{ speaker.website }}
                </a>
              </td>
              <td class="text-right">
                {{ parseInt(speaker.minimum_tawaran).toLocaleString("id") }}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="card-body border-top py-3">
          <b-pagination
            class="mb-1"
            v-model="page"
            :total-rows="total"
            :per-page="limit"
            aria-controls="my-table"
          ></b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "ListPengisiAcara",
  data() {
    return {
      data: [],
      loading: false,
      placeholder: "Nama",
      search: "",
      total: 0,
      page: 1,
      limit: 10,
    };
  },
  mounted() {
    this.fetchData();
  },
  watch: {
    page() {
      this.fetchData();
    },
  },
  methods: {
    async fetchData() {
      this.loading = true;
      try {
        const { data, total } = await this.$store.dispatch("speaker/GET", {
          page: this.page,
          limit: this.limit,
        });

        this.data = data;
        this.total = total;
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style>
.filter {
  min-width: 100px;
}
.filter .form-group {
  margin: 0;
}
</style>
