<template>
  <div class="row animated fadeIn">
    <div class="col-md-6">
      <form @submit.prevent="saveKategori" class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;Kategori Pengisi Acara</div>
          <div class="d-md-flex">
            <b-btn
              @click="deleteKategori"
              v-if="$route.params.id"
              class="btn btn-danger ml-2"
              type="button"
              :disabled="saving"
            >
              <i class="icon-trash"></i> Hapus
            </b-btn>
            <b-btn
              type="submit"
              variant="primary"
              class="ml-2"
              :disabled="saving"
            >
              <i class="icon-check"></i>
              <span v-if="saving">Menyimpan...</span>
              <span v-else>Simpan</span>
            </b-btn>
          </div>
        </div>
        <div class="card-body">
          <label>Nama Kategori</label>
          <b-form-input
            id="nama"
            :disabled="saving"
            v-model.trim="data.nama"
            required
          />
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "FormKategoriPengisiAcara",
  mounted() {
    if (this.$route.params.id) {
      this.getKategori();
    }
  },
  data() {
    return {
      data: {
        id: "",
        nama: "",
      },
    };
  },
  methods: {
    async getKategori() {
      try {
        //call api get event
        this.data = await this.$store.dispatch(
          "speaker_category/SHOW",
          this.$route.params.id
        );
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      }
    },
    async deleteKategori() {
      const delIt = await this.$bvModal.msgBoxConfirm("Hapus kategori ini?");

      if (!delIt) {
        return;
      }

      try {
        //call api get event
        await this.$store.dispatch(
          "speaker_category/DESTROY",
          this.$route.params.id
        );

        this.$bvToast.toast("Kategori berhasil dihapus.", {
          variant: "success",
          title: "Sukses",
        });
        this.$router.push("/speaker-category");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      }
    },
    async saveKategori() {
      this.saving = true;
      try {
        const STORE_ACTION = this.$route.params.id
          ? "speaker_category/UPDATE"
          : "speaker_category/STORE";
        await this.$store.dispatch(STORE_ACTION, this.data);

        this.$bvToast.toast("Kategori berhasil disimpan.", {
          variant: "success",
          title: "Sukses",
        });
        this.$router.push("/speaker-category");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.saving = false;
      }
    },
  },
};
</script>
