<template>
  <div v-if="!loading" class="row animated fadeIn">
    <div class="col-md-12">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <div><i class="icon-flag"></i>&nbsp;Kategori Pengisi Acara</div>
          <div class="d-md-flex">
            <b-form-input
              class="filter mb-2 mb-md-0"
              :v-model="search"
              :placeholder="placeholder"
            />
            <button @click.prevent="onRefresh" class="btn btn-primary ml-md-2">
              <i class="icon-refresh"></i>
            </button>
            <router-link
              v-if="this.user.role === 'admin'"
              to="/speaker-category/create"
              class="btn btn-success ml-2"
            >
              <i class="icon-plus"></i> Tambah
            </router-link>
          </div>
        </div>
        <b-table :fields="fields" :items="data" :busy="loading" class="mb-0">
          <template #cell(id)="data">
            <router-link
              :to="`/speaker-category/show/${data.value}`"
              class="btn btn-primary"
            >
              View
            </router-link>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: { ...mapState("auth", ["token", "user"]) },
  name: "KategoriPengisiAcara",
  data() {
    return {
      data: [],
      placeholder: "Nama",
      loading: true,
      search: "",
      fields: [
        { key: "id", label: "", thAttr: { width: "120px" } },
        { key: "nama" },
      ],
    };
  },
  mounted() {
    if (this.$route.params.page) {
      this.page = parseInt(this.$route.params.page);
    }
    this.fetchData();
  },
  methods: {
    async fetchData() {
      this.loading = true;
      try {
        this.data = await this.$store.dispatch("speaker_category/GET");
      } catch (e) {
        const errorMessage =
          (e.response && e.response.data && e.response.data.message) ||
          e.message;

        this.$bvToast.toast(errorMessage, {
          variant: "danger",
          title: "Error",
        });
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style>
.filter {
  min-width: 100px;
}
.filter .form-group {
  margin: 0;
}
</style>
